<!DOCTYPE html>
{% load date_tags %}
<html lang="en">

<html>
<title>Dryve | Bike and Scooter Rental in Bangalore</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Two-wheeler rentals in Bangalore - Dryve</title>
<meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
<meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
<meta name="author" content="">
<meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
<link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<script>
Global = {};
Global.crack="{{ csrf_token }}";

var Connect = {
  serverUrl: "{{ serverUrl }}"
}

function bind(f, obj, args) { //console.log('Bind-',obj, args);
if (f) {
if (f instanceof Function) {
    return f.apply(obj, args);
} else {
    for (var fi = 0; fi < f.length; fi++) {
        f[fi].apply(obj, args);
    }
}
} else console.log('Empty callback');

}

function getAuth(cname) {
var name = cname + "=";
var ca = document.cookie.split(';');
for (var i = 0; i < ca.length; i++) {
var c = ca[i];
while (c.charAt(0) == ' ') c = c.substring(1);
if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
}
return "";
}

var CallAjax = {

urlMapping: {
save_booking: 'save_booking/'
},
getData: function (url, id, data, callback, instance, settings) {
var type = 'GET';
//url=Connect.serverUrl+this.urlMapping[url]
//url='/search/';
if (settings) {
    if (settings['type']) {
        type = settings['type'].toUpperCase()
    }
    if (settings['data'] && settings['data'] == 'normal') {
        data['csrfmiddlewaretoken'] = Global.crack
    }
}

var default_settings = {
    url: url,
    data: data,
    dataType: "JSON",
    type: type,
    crossDomain: true,
    xhrFields: {
        withCredentials: true
    },
    error: function (xhr, textStatus, errorThrown) {

    }
}

if (settings) {
    if (settings['timeout']) {
        default_settings['timeout'] = parseInt(settings['timeout'])
    }
}

$.ajax(default_settings).always(function (response, e) {
    if (instance) {
        bind(callback, instance, [response, '', 0, 'ajax', url]);
    }
})
}

};
var vehicleList = null, v_id = parseInt("{{vendor_id}}");
var st=0, et=0, sVid = 0;

function loadVehicleList(isPopulateList,selectedVid) {

  var pickup_time = $('#date-start-id').val() === "" ? 0 : new Date(moment($('#date-start-id').val()));
  var drop_time = $('#date-end-id').val() === "" ? 0 : new Date(moment($('#date-end-id').val()));
  var params = "?lat=" + 12.916935 + "&lon=" + 77.5667 + "&pickup_time=" + Number(pickup_time) + "&drop_time=" + Number(drop_time);
  var url = Connect.serverUrl;
  if(!isPopulateList){
    url+= "/Dryve/Booking/available/vehicle";
    params+= "&booking_no=" + $('#bookingNo').val();
  }else{
    url+= "/Dryve/Booking/nearby";
  }
  //var url = Connect.serverUrl+"/Dryve/Booking/nearby";
  url = url + params;

  var data = {
  bikeName: $('#bikeId').val(),
  startTime: $('#date-start-id').val(),
  endTime: $('#date-end-id').val()
  };
   //$('#vehicleListContainer').html('');
   //$('#vehicleListContainer').html('<div class="text-center"><img class="center-block img-responsive" src="/static/images/loading.gif" alt="laoding bikes"></img</div>');
  CallAjax.getData(url, null, '', function a(data) {
  vehicleList = data;
  if(isPopulateList === true)
    populateVehicleListing(vehicleList,selectedVid);
  else {
    getVehicleAvailabibiltyStatus(vehicleList);
  }

  }, {}, {
  type: 'GET',
  data: 'normal'
  });
};

function getVehicleAvailabibiltyStatus(data){
  for (var i = 0; i < data.length; i++) {

    if(data[i].vehicle_id === parseInt($('#vid').val())){
      $('#modify_booking').submit();
      return true;
    }
  }
  var err = "Oops...selected bike is not available for this time.Please try another bike!";
    alert(err);
    return false;
  };

function populateVehicleListing(vehicleList,selectedVid) {
    var listDivString = '', bike_url ='', imgUrl='';

    var selectTag = '<select class="form-control" id="bikeId" name="bikeId">';

    var closeSelectTag = '</select></div></div>';
    var optionList = '';

    if(vehicleList.length === 0){
      listDivString += '<div class="row"><div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12"><h5>No Bikes available.Please try another pickup and drop time</h5></div></div>';
    }
    for (var i = 0; i < vehicleList.length; i++) {
        if(vehicleList[i].vendor.vendor_id === v_id){
          var selected='';
          if(vehicleList[i].registration_no === selectedVid){
            selected = "selected";
            sVid=vehicleList[i].vehicle_id;
          }
          optionList+='<option id="' +i+"-"+ vehicleList[i].vehicle_id + '" '+selected+'>'+ vehicleList[i].vehicle_name +' - '+vehicleList[i].registration_no+'</option>';
       }
    }
    listDivString = selectTag + optionList + closeSelectTag;
    $('#vehicleListContainer').html(listDivString);
    //registerEventOnClass();
};

   function roundMinutes(date) {
      date = moment(date).tz("Asia/Kolkata");
      if (date.minutes() > 0) {
          date.hours(date.hours()+1);
      }
      date.minutes(0);
      date.seconds(0);
      return date.format("YYYY-MM-DD HH:mm");
    };

  function populateModifyData(bookingNo,ptime,dtime,vid,amount){
    st=ptime;
    et=dtime;
    $('#bookingNo').val(bookingNo);
    $('#date-start-id').val(roundMinutes(new Date(parseInt(ptime))));
    $('#date-end-id').val(roundMinutes(new Date(parseInt(dtime))));
    $('#amount').val(amount);
    $('#bnoDiv').html('<label class="control-label" >'+bookingNo+' </label>');

  }

  function cancelRequested(bookingNo){
    $('#selected_row').val(bookingNo);
    var cancelDesc = "Do you want to cancel booking number: <b>"+bookingNo+"</b>.<br>Please confirm to proceed.";
    $("#cancelDesc").html(cancelDesc);
    $("#myModal").modal();

  }

  function modifyRequested(bookingNo,ptime,dtime,vid,amount){
    loadVehicleList(true, vid);
    populateModifyData(bookingNo,ptime,dtime,vid,amount);
    $("#modifyModal").modal();
  };


  $(document).ready(function() {

      $('.enquiry_table').DataTable({

        "order": [[ 0, "desc" ]]
      });

      var startDate = null,
      endDate = null;

      curDate = roundMinutes(new Date());
      nextDate = (new Date());
      nextDate = roundMinutes(nextDate.setDate(nextDate.getDate()+1))

      /*$('#date-start-id').val(curDate);
      startDate = curDate;
      $('#date-end-id').val(nextDate);
      endDate = nextDate;
      */
      $(".form_datetime").datetimepicker({
        autoclose: true,
        //startDate: curDate,
        minuteStep: 60,
        minView: 1,
        format: 'yyyy-mm-dd hh:00'
      });

      $('#date-start').datetimepicker('setHoursDisabled', [23, 00, 01, 02, 03, 04, 05, 06, 07, 08]);
      $('#date-end').datetimepicker('setHoursDisabled', [23, 00, 01, 02, 03, 04, 05, 06, 07, 08]);

      $('#date-end').datetimepicker().on('changeDate', function (ev) {

      if (startDate !== null && ev.date.valueOf() <= startDate) {
          $('#date-input-msg').html('<label class="label label-danger">Drop date cannot be equal or earlier than the start date.Please select valid drop time</label>');
      }else {
          endDate = ev.date.valueOf();
          $('#date-end-id').val(endDate);
            $('#date-input-msg').html('');
      }
      });

      $('#date-start').datetimepicker().on('changeDate', function (ev) {
        var d=new Date();
      if (ev.date.valueOf() < d) {
        $('#date-input-msg').html('<label class="label label-danger">Please select a valid booking start time</label>');
      } else if (endDate !== null && ev.date.valueOf() >= endDate) {
          $('#date-input-msg').html('<label class="label label-danger">Pickup date cannot be equal or later than end date.Please select valid pickup time</label>');
      }else {
          startDate = ev.date.valueOf();
          $('#date-start-id').val(startDate);
          $('#date-input-msg').html('');
      }
      });

       $('#all').addClass("btn-success");
       $('#enquiry_table1').DataTable();
       $('#enquiry_table2').DataTable();

    $('#confirmBtn').on('click', function () {
      $('#cancel_booking').submit();
    });

    $('.modifyClose').on('click', function () {
       $('#date-start-id').val("");
       $('#date-end-id').val("");
       $('#bikeId').val('');
       $('#bnoDiv').html('');

    });

    $('#modifySubmitBtn').on('click', function () {
      var etime = Number(new Date(moment($('#date-end-id').val())));
      var stime = Number(new Date(moment($('#date-start-id').val())));
      var vid = $('#bikeId option:selected').attr('id');
      var ind = vid.split("-")[0];
      var info = vehicleList[ind];
      vid =info.vehicle_id;

      $('#vid').val(vid);
      $('#amt').val($('#amount').val());
      $('#stime').val(stime);
      $('#etime').val(etime);

      if(parseInt(st) === stime && parseInt(et) === etime && vid === sVid){
        $('#modify_booking').submit();
      } else {
        loadVehicleList(false, vid); // check vehicle availability and submit there
      }

    });

} );


var n=1;
var n1=1;

</script>

<body id="page-top">
  {% include 'inventory/navLinks.html' %}
    <section>
      <div class="container-fluid">
        <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                      <h2 class="section-heading section-heading-color product-header">
                                  DRYVE Booking details
                          </h2>

                  </div>
          </div>
        <div class="row">
          <div id="payFailMsg" class={{msgType}}>
            {{msg}}
          </div>
        </div>
        <div class="row container">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#alld">ALL</a></li>
            <li><a data-toggle="tab" href="#booked">BOOKED</a></li>
            <li><a data-toggle="tab" href="#cancelled">CANCELLED</a></li>
          </ul>

        </div>

<div class="tab-content">
<div id="alld" class="tab-pane fade in active">
      <table id="enquiry_table" class="table table-bordered table-striped table-hover table-responsive enquiry_table">
        <thead>
          <tr>
            <th>Booking Number</th>
            <th>Status</th>
            <th>Booking Type</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Bike Name</th>
            <th>Registration Number</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Tariff(Rs.)</th>
            <th>Action</th>
      </tr>
        </thead>
    <tbody>
    {% for booking in bookingList %}
      <tr>
                    <td>{{booking.bd.booking_no}}</td>
                    {% if booking.bd.booking_status %}
                      <td>Booked</td>
                    {% elif not booking.bd.booking_status %}
                      <td>Cancelled</td>
                    {% endif %}

                    {% if booking.bd.vendor_manual_booking %}
                      <td>{{booking.bd.booking_purpose}}</td>
                      <td>{{booking.vendorUser.name}}</td>
                      <td>{{booking.vendorUser.mobile_no }}</td>
                      <td>{{booking.vendorUser.email }}</td>

                    {% elif not booking.bd.vendor_manual_booking %}
                      {% if booking.bd.booking_system == 2 %}
                        <td>Android App</td>
                      {% else  %}
                        <td>Website</td>
                      {% endif %}

                      <td>{{booking.user.name }}</td>
                      <td>{{booking.user.mobile_no}}</td>
                      <td>{{booking.user.email}}</td>
                    {% endif %}

                    <td>{{booking.bd.vehicle.vehicle_name}}</td>
                    <td>{{booking.bd.vehicle.registration_no}}</td>
                    <td>{{booking.bd.pickup_time|timestamp}}</td>
                    <td>{{booking.bd.drop_time|timestamp}}</td>
                    <td>{{booking.bd.total_fare}}</td>
                    <td>{% if booking.bd.booking_status %}
                      <a class="btn btn-default" id={{booking.bd.booking_no}} onclick="cancelRequested('{{booking.bd.booking_no}}')"><i class="fa fa-2x fa-times section-heading-color" aria-hidden="true"></i>Cancel</a>
                      <a class="btn btn-default" id={{booking.bd.booking_no}} onclick="modifyRequested('{{booking.bd.booking_no}}','{{booking.bd.pickup_time}}','{{booking.bd.drop_time}}','{{booking.bd.vehicle.registration_no}}','{{booking.bd.total_fare}}')"><i class="fa fa-2x fa-pencil-square-o section-heading-color" aria-hidden="true"></i>Modify</a>
                      {% endif %}
                    </td>
            </tr>

    {% endfor %}
        </tbody>
      </table>
</div>
<div id="booked" class="tab-pane fade">
     <table  id="enquiry_table1" class="table table-bordered table-striped table-hover table-responsive enquiry_table">
        <thead>
          <tr>
            <th>Booking Number</th>
            <th>Booking Type</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Bike Name</th>
            <th>Registration Number</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Tariff(Rs.)</th>
            <th>Action</th>
      </tr>
        </thead>
    <tbody>
    {% for booking in bookingList %}
        {% if booking.bd.booking_status %}
            <tr>
                <td>{{booking.bd.booking_no}}</td>

                {% if booking.bd.vendor_manual_booking %}
                  <td>{{booking.bd.booking_purpose}}</td>
                  <td>{{booking.vendorUser.name}}</td>
                  <td>{{booking.vendorUser.mobile_no }}</td>
                  <td>{{booking.vendorUser.email }}</td>

                {% elif not booking.bd.vendor_manual_booking %}
                  {% if booking.bd.booking_system == 1 %}
                    <td>Website</td>
                  {% elif booking.bd.booking_system == 2 %}
                      <td>Android App</td>
                  {% endif %}
                  <td>{{booking.user.name }}</td>
                  <td>{{booking.user.mobile_no}}</td>
                  <td>{{booking.user.email}}</td>
                {% endif %}

                    <td>{{booking.bd.vehicle.vehicle_name}}</td>
                    <td>{{booking.bd.vehicle.registration_no}}</td>
                    <td>{{booking.bd.pickup_time|timestamp}}</td>
                    <td>{{booking.bd.drop_time|timestamp}}</td>
                    <td>{{booking.bd.total_fare}}</td>
                    <td>{% if booking.bd.booking_status %}
                      <a class="btn btn-default" id={{booking.bd.booking_no}} onclick="cancelRequested('{{booking.bd.booking_no}}')"><i class="fa fa-2x fa-times section-heading-color" aria-hidden="true"></i>Cancel</a>
                      <a class="btn btn-default" id={{booking.bd.booking_no}} onclick="modifyRequested('{{booking.bd.booking_no}}','{{booking.bd.pickup_time}}','{{booking.bd.drop_time}}','{{booking.bd.vehicle.registration_no}}','{{booking.bd.total_fare}}')"><i class="fa fa-2x fa-pencil-square-o section-heading-color" aria-hidden="true"></i>Modify</a>
                      {% endif %}
                    </td>
                  </tr>
        {% endif %}

    {% endfor %}
        </tbody>
      </table>
</div>
<div id="cancelled" class="tab-pane fade">
          <table id="enquiry_table2" class="table table-bordered table-striped table-hover table-responsive enquiry_table">
        <thead>
          <tr>
            <th>Booking Number</th>
            <th>Booking Type</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Bike Name</th>
            <th>Registration Number</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Tariff(Rs.)</th>

      </tr>
        </thead>
    <tbody>
    {% for booking in bookingList %}
        {% if not booking.bd.booking_status %}
            <tr>
                <td>{{booking.bd.booking_no}}</td>
                {% if booking.bd.vendor_manual_booking %}
                  <td>{{booking.bd.booking_purpose}}</td>
                  <td>{{booking.vendorUser.name}}</td>
                  <td>{{booking.vendorUser.mobile_no }}</td>
                  <td>{{booking.vendorUser.email }}</td>

                {% elif not booking.bd.vendor_manual_booking %}
                  {% if booking.bd.booking_system == 1 %}
                    <td>Website</td>
                  {% elif booking.bd.booking_system == 2 %}
                      <td>Android App</td>
                  {% endif %}
                  <td>{{booking.user.name }}</td>
                  <td>{{booking.user.mobile_no}}</td>
                  <td>{{booking.user.email}}</td>
                {% endif %}

                    <td>{{booking.bd.vehicle.vehicle_name}}</td>
                    <td>{{booking.bd.vehicle.registration_no}}</td>
                    <td>{{booking.bd.pickup_time|timestamp}}</td>
                    <td>{{booking.bd.drop_time|timestamp}}</td>
                    <td>{{booking.bd.total_fare}}</td>

                  </tr>
        {% endif %}

    {% endfor %}
        </tbody>
      </table>
</div>

</div>
      <form id="cancel_booking" method="post" action="/bookings/get_booking_enquiry/cancel-booking/">{% csrf_token %}
        <input type="hidden" id="selected_row" name="selected_row" value="">

    </form>
    </section>

 <div class="container">

  <!-- Modal for Cancel booking-->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

      <!-- Modal content-->
      <div id="cancelDiv" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title section-heading-color">Cancel booking confirmation</h4>
        </div>
        <div class="modal-body">
          <p id="cancelDesc"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-primary pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <button type="submit" id="confirmBtn" class="btn btn-success btn-primary pull-left" ><span class="glyphicon glyphicon-ok"></span> Submit</button>
        </div>
      </div>
</div>
</div>

<!-- Modal for mpdify booking -->
<div class="modal fade" id="modifyModal" role="dialog">
  <div class="modal-dialog modal-md">

    <!-- Modal content-->
    <div id="modifyDiv" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close modifyClose" data-dismiss="modal">&times;</button>
        <h4 class="modal-title section-heading-color">Modify booking information</h4>
      </div>
      <div class="modal-body">
            <div class="form-horizontal" role="form">
              <div class="form-group">
                <label class="control-label col-sm-2" >Booking Number: </label>
                <div id="bnoDiv" class="col-sm-10">

                </div>
              </div>
               <div class="form-group">
                 <label class="control-label col-sm-2" for="vid">Bike:</label>
                 <div class="col-sm-10">
                   <div id="vehicleListContainer">
                   </div>
                 </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-sm-2" for="pwd">Start time:</label>
                 <div class="col-sm-10">
                   <div class='input-group date form_datetime' id='date-start'>
                       <input type='text' class="form-control" id="date-start-id" name="ptime" />
                       <span class="input-group-addon">
                           <span class="glyphicon glyphicon-calendar">
                           </span>
                       </span>
                   </div>
                 </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-sm-2" for="pwd">End time:</label>
                 <div class="col-sm-10">
                 <div class='input-group date form_datetime' id='date-end'>
                     <input type='text' class="form-control" id="date-end-id" name="rtime" />
                     <span class="input-group-addon">
                         <span class="glyphicon glyphicon-calendar">
                         </span>
                     </span>
                 </div>
               </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-sm-2" for="amount">Fare:</label>
                 <div class="col-sm-10">
                   <input type="text" class="form-control" id="amount" >
                 </div>
               </div>
           </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="modifyCancelBtn" class="btn btn-danger btn-primary pull-left modifyClose" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        <button type="submit" id="modifySubmitBtn" class="btn btn-success btn-primary pull-left" ><span class="glyphicon glyphicon-ok"></span> Submit</button>
      </div>
    </div>
  </div>
  </div>
</div>
<form id="modify_booking" method="post" action="/bookings/get_booking_enquiry/modify-booking/">{% csrf_token %}
  <input type="hidden" id="bookingNo" name="bookingNo" value="">
  <input type="hidden" id="vid" name="vid" value="">
  <input type="hidden" id="stime" name="stime" value="">
  <input type="hidden" id="etime" name="etime" value="">
  <input type="hidden" id="amt" name="amt" value="">
</form>

  {% include 'footer.html' %}
    <script src="{{ MEDIA_URL }}js/dashboard/jquery.dataTables.min.js"></script>
    <script src="{{ MEDIA_URL }}js/dashboard/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/dataTables.bootstrap.min.css" type="text/css">
    <!-- datetimepicker CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-datetimepicker.css" type="text/css">
    <!-- for date time picker -->
    <script src="{{ MEDIA_URL }}js/index/moment-with-locales.js"></script>
    <script src="{{ MEDIA_URL }}js/index/bootstrap-datetimepicker.js"></script>
    <script src="{{ MEDIA_URL }}js/index/moment-timezone-with-data.min.js"></script>
</body>

</html>
