<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Two-wheeler rentals in Bangalore - Dryve</title>
    <meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
    <meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />

    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        Global = {};
        Global.crack="{{ csrf_token }}";

        var Connect = {
        //serverUrl: 'http://54.169.84.244:8080'
        serverUrl: 'http://52.77.248.64:8080'
        //serverUrl: 'http://localhost:8080'
        }

        function bind(f, obj, args) { //console.log('Bind-',obj, args);
        if (f) {
        if (f instanceof Function) {
            return f.apply(obj, args);
        } else {
            for (var fi = 0; fi < f.length; fi++) {
                f[fi].apply(obj, args);
            }
        }
        } else console.log('Empty callback');

        }

        function getAuth(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1);
        if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }
        return "";
        }

        var CallAjax = {

        urlMapping: {
        save_booking: 'save_booking/'
        },
        getData: function (url, id, data, callback, instance, settings) {
        var type = 'GET';
        //url=Connect.serverUrl+this.urlMapping[url]
        //url='/search/';
        if (settings) {
            if (settings['type']) {
                type = settings['type'].toUpperCase()
            }
            if (settings['data'] && settings['data'] == 'normal') {
                data['csrfmiddlewaretoken'] = Global.crack
            }
        }

        var default_settings = {
            url: url,
            data: data,
            dataType: "JSON",
            type: type,
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            error: function (xhr, textStatus, errorThrown) {

            }
        }

        if (settings) {
            if (settings['timeout']) {
                default_settings['timeout'] = parseInt(settings['timeout'])
            }
        }

        $.ajax(default_settings).always(function (response, e) {
            if (instance) {
                bind(callback, instance, [response, '', 0, 'ajax', url]);
            }
        })
        }

        };


        function validateEmail(email) {
            var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        };

        function validatePhone(mobile) {
            var re = /^[1-9]{1}[0-9]{9}$/;
            return re.test(mobile);
        };

        function validateInputFields(data){

          if (data.name === "" ||  data.name.length < 2) {
            $('#feedback-status').html('Please enter a valid name');
            return false;
          }

          if (data.email === "" || !validateEmail(data.email)) {
              $('#feedback-status').html('Please enter a valid email id');
            return false;
          }
          if (data.phone === "" ||  !validatePhone(data.phone)) {
              $('#feedback-status').html('Please enter a valid mobile number');
            return false;
          }

          return true;
        };


        $(document).ready(function(){

            $('#SubmitContactUsForm').on('click',function(){
                var data = {
                    name : $('#fname').val(),
                    email : $('#femail').val(),
                    phone : $('#fphone').val(),
                    comment : $('#fmessage').val(),
                }

                if(!validateInputFields(data)){
                    $('#feedback-status').addClass("alert-danger");
                  return false;
                }

                $('#SubmitContactUsForm').hide();
                $('#submit-overlay').show();

                CallAjax.getData('/send_feedback/', null, data ,function a(data){
                  if(data['status'] === true){
                    $('#submit-overlay').hide();
                    $('#feedback-status').removeClass("alert-danger");
                    $('#feedback-status').addClass("alert-success");
                    $('#feedback-status').html('Feedback received.Thank you for your precious feedback!');
                    $('form')[0].reset();
                  }else if(data['status'] === false){
                    $('#submit-overlay').hide();
                      $('#SubmitContactUsForm').show();
                      $('#feedback-status').removeClass("alert-danger");
                  }
                }, {}, {type: 'POST', data: 'normal'})

            })
        })

    </script>


<style>

    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
    		var myLatLng = {lat: 12.917007, lng: 77.625612};
            var mapCanvas = document.getElementById('map');
            var mapOptions = {
              center: new google.maps.LatLng(12.917028, 77.625636),
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            var map = new google.maps.Map(mapCanvas, mapOptions)
    		var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Dryve'
      });
    	}
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

</head>

<body id="page-top">

    {% include 'navHeader.html' %}

	<section id="termsandconditions" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-color">Reach Us</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
		<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <legend class="text-center header" style="margin-bottom:0px">Our Office</legend>
                    <div class="panel-body ">
                        <div>
                        <h4><b>Address</b>: Dryve.co.in, #C3, MCHS Layout, Sector 6, HSR Layout, next to Sesame Street Pre-School, <br>near Silk Board Junction, <br>Bangalore - 560102, Karnataka</h4>
                        <h4><b>Phone</b>: +91-7899861150</h4>
                        <h4><b>Email</b>: support@dryve.co.in</h4>
                      </div>
                        <hr />
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well well-sm">
                <form>
                    <fieldset>
                        <legend class="text-center header">Write a feedback</legend>
                        <h4 id="feedback-status" class="alert"></h4>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fname" name="name" type="text" placeholder="Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="femail" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fphone" name="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" id="fmessage" name="message" placeholder="Enter your message for us here. We will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <div id="SubmitContactUsForm" class="btn btn-primary btn-lg">Submit</div>
                            </div>
                            <div id="submit-overlay" style="display:none;" class="col-lg-8 col-lg-offset-2 text-center">
                                  <img src="../static/images/submit-overlay.gif" class="img-responsive center-block" alt="">
                                </div>
                        </div>
                    </fieldset>
                  </form>
            </div>
        </div>
    </div>
</div>
</section>
{% include 'footer.html' %}
</body>
</html>
