<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Two-wheeler rentals in Bangalore - Dryve</title>
    <meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
    <meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
    <script>
        Global = {};
        Global.crack="{{ csrf_token }}";
    </script>

</head>

<body id="page-top">

{% include 'navHeader.html' %}

	<section id="faqContainer" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="section-heading section-heading-color">Frequently asked questions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
		<div class = "container">
      <div class="row">
		<p>
		<ul>
<li type="none"><b>1) What is Dryve?</b></li>
Dryve is India's leading two-wheeler rental service which allows individuals to hire bikes by the hour or by the day. Reservations are made through the website or our mobile app.</br></br>
<li type="none"><b>2) What type of vehicles does Dryve offer?</b></li>
Dryve offers Honda Activa, Honda Dio, Bajaj Pulsar, Royal Enfield Bullet, Hero CBZ Xtreme, Royal Enfield Thunderbird and Harley Davidson Street 750.</br></br>
<li type="none"><b>3) Do I have to return the vehicle to the same location where I picked it up?</b></li>
Yes. You must bring the vehicle back to the same place you picked it up before the end of your reservation. If you drop-off the vehicle at a location different from your pickup point, you will be charged Rs. 500, and the full hourly rate and late fees until the vehicle is returned to the correct location.</br></br>
<li type="none"><b>4) How do I make a booking?</b></li>
It's simple on our online reservation system! Just select the type of bike you want, the location you want to pick it up from, and the start and end time for your reservation. Then enter your payment details (credit or debit card) and you are ready to Dryve!</br></br>
<li type="none"><b>5) How far in advance do I need to make a reservation?</b></li>
As long as a vehicle is available, you can book immediately! Dryve recommends customers make bookings as early as possible.</br></br>
<li type="none"><b>6) If I cancel my reservation, do I still have to pay?</b></li>
A cancellation charge of Rs. 100 applies if you cancel more than 24 hours before booking start time.<br>
b) A charge of 50% of booking amount is applicable if cancelled within 24 hours of the booking start time.<br>
c) No cancellation is allowed after booking start time.</br></br>
<li type="none"><b>7) What happens if I return the vehicle late?</b></li>
a) Standard hourly charges will be applicable per hour of delay.<br>
b) An additional Rs. 200 per day will be charged as late fee.</br></br>
<li type="none"><b>8) What happens if someone else returns the bike late, and it is not there when my reservation begins?</b></li>
If your reserved vehicle is not where it is supposed to be, notify us immediately by calling our helpline number. Dryve and our helpful fleet executives will make sure you get where you need to go! If a near-by Dryve vehicle is available, we will transfer your reservation. If not, we will call you a cab and get you a vehicle as soon as possible so you can quickly be on your way.</br></br>
<li type="none"><b>9) If I bring the vehicle back ahead of my reservation time, do I receive a credit?</b></li>
Sorry, no credits will be given for early return.</br></br>
<li type="none"><b>10) Can I book for any period of time?</b></li>
The minimum reservation period is 4 hours. You can book a vehicle for any period greater than 5 hours.</br></br>
<li type="none"><b>11) What are “hourly” Dryve prices?</b></li>
Please visit tariff page for more details.</br></br>
<li type="none"><b>12) Can I book a one way trip?</b></li>
No. For all reservations, you will need to return your Dryve to its pickup location at the end of your trip.</br></br>
<li type="none"><b>13) Where are Dryve vehicles located?</b></li>
Dryve has multiple locations in Bangalore. Please check the vehicle details page on the website or the app for more information.</br></br>
<li type="none"><b>14) Is Dryve 24/7?</b></li>
Our call center is open from 8 AM to 12 midnight to help you with your bookings. However, our pickup locations are closed between 9 PM - 9 AM to allow us to reset for another day of excellent service. Our users cannot schedule a pickup or dropoff during that time. </br></br>
<li type="none"><b>15) What documents do I need to bring when I pick up my Dryve vehicle?</b></li>
Please bring your original driver's license and a valid address proof (Aadhar card, Passport, etc.)</br></br>
<li type="none"><b>16) What do I do if I meet with an accident?</b></li>
Immediately notify Dryve by calling our helpline number (+91-7899861150) and we will guide you through the entire process. We will coordinate everything with the police, insurance, and road-side assistance. Do not leave the scene of the accident until proper support has arrived. You may be required to sign several formality documents associated with the accident.</br></br>
<li type="none"><b>17) What do I do if the vehicle breaks down?</b></li>
Immediately notify Dryve by calling our helpline number (+91-7899861150) and we will guide you through the entire process with the help of our call center and fleet executive team. Each vehicle also has a 24x7 road-side support hotline number. Dryve will coordinate everything with this road-side assistance provider. Do not leave the scene of the breakdown until proper support has arrived.</br></br>
<li type="none"><b>18) What is the insurance coverage?</b></li>
Dryve provides full wrap unlimited third party liability insurance. However damage fee applies when the customer is involved in an incident (including but not limited to a collision or misuse of the vehicle). Customer will be responsible for a standard insurance deductible payment. The customer will be obligated to pay the repair cost. The payment owed will be deducted from the security deposit. Should the security deposit not cover the payment (in the case the Customer has accrued late return, excess km, etc charges) the balance of the payment owed will be made electronically by the Customer.</br></br>
<li type="none"><b>19) Who pays for fuel?</b></li>
Dryve gives you the vehicle with full fuel tank and customer is expected to return the vehicle with full tank as well. If the fuel tank is not full at the time of drop, the customer will be charged for the missing fuel.</br></br>
<li type="none"><b>20) Is there a km limit to how much I can drive?</b></li>
Each reservation comes with a hourly/daily km limit. There is a per-km charge for each km beyond that point. Please check the terms and conditions while booking on the website or the app for more information.</br></br>
<li type="none"><b>21) Who pays for parking?</b></li>
Customers must pay for parking outside of the Dryve vehicle's home location.</br></br>
<li type="none"><b>22) Am I responsible for parking and moving violations?</b></li>
Yes. Customers must pay for any fines incurred during the reservation.</br></br>
<li type="none"><b>23) Why do I have to pay a deposit?</b></li>
We have seen that many of our customers like to Dryve off to extra far away destinations. In these instances, they typically have some additional charges at the end of their booking given the distance traveled. Additionally, it is not always so easy out there as a rider and some damage might happen. This deposit will allow Dryve to seamlessly complete these transactions without the hassle of a human intervention as part of a formal online payment process.
		</ul>
		</p>
		</div>
  </div>
    </section>
</body>

{% include 'footer.html' %}

</body>

</html>
