<footer id="contact" class ="footer-top-full">
	<li> Contact</li>
	<li><i class="fa fa-phone pad-5"></i></li>
					<li>+91-7899861150</li>
					<li><i class="fa fa-envelope pad-5"></i>support@dryve.co.in</li>
</footer>

<footer class="footer-distributed">

			<div class="footer-left pull-left">
				<div class="footer-company-name text-left">
					<h3>DRYVE</h3>
				</div>
				<div class="footer-links-locations footer-links-centre text-left">
					<div class="footer-links-header-Ql">Quick Links</div>
						<ul>
						<li><a href="/#home"> Home </a></li>
						<li><a href="/#portfolio"> Tariff </a></li>
						<li><a href="/search/"> Book Now </a></li>
						<li><a href="/policy/terms-and-conditions/"> Terms and Conditions </a></li>
						<li><a href="/policy/privacy-policy/"> Privacy Policy </a></li>
						<li><a href="/policy/faq/"> FAQ </a></li>
						</ul>
				</div>
				<a href="https://play.google.com/store/apps/details?id=in.co.dryve.customer" target="_blank"><img class="gpIcon" src="{{ MEDIA_URL }}images/dryve_app_android.png" alt="Dryve bike rental App"/></a>
			</div>

			<div class="footer-center pull-left">
				<div class="footer-links-locations footer-links-centre text-left">
					<div class="footer-links-header">Our Locations</div>
						<ul>
						<li><a href="/rent-bike-in/bellandur">	Bellandur 		</a></li>
						<li><a href="/rent-bike-in/btm-layout">	BTM Layout	 	</a></li>
						<li><a href="/rent-bike-in/hsr-layout">	HSR Layout 		</a></li>
							<li><a href="/rent-bike-in/rt-nagar">	RT Nagar 		</a></li>
						<li><a href="/rent-bike-in/indiranagar">	Indiranagar 	</a></li>
						<li><a href="/rent-bike-in/koramangala">	Koramangala 		</a></li>
						<li><a href="/rent-bike-in/marathalli">	Marathalli 		</a></li>
						<li><a href="/rent-bike-in/sarjapur">	Sarjapur Road	</a></li>
						<li><a href="/rent-bike-in/whitefield">	Whitefield 		</a></li>
						</ul>
				</div>
				<div class="footer-links-bikes footer-links-centre text-left">
					<div class="footer-links-header">Our Bikes</div>
						<ul>
							<li><a href="/rent-bike/royal-enfield-classic-desert-storm-500">Royal Enfield Classic Desert Storm 500       	</a></li>
							<li><a href="/rent-bike/royal-enfield-thunderbird-500">		Royal Enfield Thunderbird 500       	</a></li>
							<li><a href="/rent-bike/royal-enfield-continental-gt">		Royal Enfield Continental GT</a></li>
							<li><a href="/rent-bike/royal-enfield-350">	Royal Enfield 350	</a></li>
							<li><a href="/rent-bike/royal-enfield-bullet-500"> 	Royal Enfield 500	</a></li>
							<li><a href="/rent-bike/honda-activa">		Honda Activa       	</a></li>
							<li><a href="/rent-bike/honda-dio">		Honda Dio 			</a></li>
							<li><a href="/rent-bike/mahindra-gusto">  					Mahindra Gusto 		</a></li>
							<li><a href="/rent-bike/bajaj-pulsar-150">   	Pulsar 150			</a></li>
							<li><a href="/rent-bike/bajaj-pulsar-180">   	Pulsar 180			</a></li>
							<li><a href="/rent-bike/Firefox-Target-D21">   	Firefox Target D21			</a></li>
							<li><a href="/rent-bike/BTWIN-Rockrider-340">   	BTWIN Rockrider 340			</a></li>
						<!--<li><a href="">   					Pulsar 200			</a></li>-->
						</ul>
				</div>
			</div>

			<div class="footer-right " >

				<p class="footer-company-about">
					<span>About the company</span>
					Dryve.co.in is India's leading bike rental platform. We at Dryve aim to be a one stop shop for rent-a-bike services. Dryve is the most hassle-free, reliable, convenient and affordable two-wheeler rental service in India. Say goodbye to expensive maintenance and fuel cost. With Dryve you can hire bikes for self drive by the hour, day or week and have them delivered right at your doorstep.
				</p>

				<div class="footer-icons">

					<a href="https://www.facebook.com/DryveIndia/" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/DryveIndia" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin" target="_blank"></i></a>

				</div>

			</div>

		</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/footer-distributed.css" type="text/css">
		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" type="text/css">

		<!-- Custom Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- Plugin CSS -->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/animate.min.css" type="text/css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="{{ MEDIA_URL }}css/creative.css" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- jQuery -->
    <script src="{{ MEDIA_URL }}js/index/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ MEDIA_URL }}js/index/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ MEDIA_URL }}js/index/jquery.easing.min.js"></script>
    <script src="{{ MEDIA_URL }}js/index/jquery.fittext.js"></script>
    <script src="{{ MEDIA_URL }}js/index/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ MEDIA_URL }}js/index/creative.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-69475025-1', 'auto');
        ga('send', 'pageview');

</script>
