<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dryve: Two-wheeler rentals in Bangalore</title>
    <meta content='Hassle-free bike rentals in Bangalore - Book a self drive bike or scooter online.Choose from a wide range of two-wheelers. Flexible Pricing - Starts @ ₹30/hour only.' name='description'>
    <meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />

    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/animate.min.css" type="text/css">

    <!-- datetimepicker CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-datetimepicker.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/creative.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


    <script>
{#    <!-- Hotjar Tracking Code for http://www.dryve.co.in -->#}
     (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:266869,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
        Global = {};

        Global.crack="{{ csrf_token }}";


    </script>

</head>

<body id="page-top">

    {% include 'navHeader.html' %}
    <header>
        <div id="home" class="hero-image"></div>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Dryve</h1>
                <hr>
                <h2>Two-wheeler rentals in Bangalore</h2>
                <h4>A smarter way to get around the city and a fun way to go out on awesome trips</h4>
                <a href="/search/" class="btn btn-primary btn-xl page-scroll">Book Now</a>
            </div>

        </div>

    </header>

    <section class="bg-primary" id="about" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Bike rental service in bangalore</h2>
                    <hr class="light">
                    <p class="text-faded">bike rental in bangalore.Rent bike activa,dio,royal enfield,pulsar in bangalore</p>
                    <a href="#" class="btn btn-default btn-xl">Rent bike</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-color">Why Dryve?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 text-center ">
                    <div class="service-box">
                        <img style="width: 20%; height: 70px; text-align:center" src="/static/images/infinity.png" alt="unlimited kms">
                        <h3 style="font-size: 15px"><strong>UNLIMITED KILOMETERS</strong></h3>
                        <p class="text-muted" style="font-size: 15px">Ride without any limit. Just like your own bike!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <img style="width: 20%; height: 70px; text-align:center" src="/static/images/helmet.png" alt="complementary helmet" data-wow-delay=".1s">
                        <h3 style="font-size: 15px"><strong>COMPLEMENTRY HELMET</strong></h3>
                        <p class="text-muted" style="font-size: 15px">We value your safety, so the helmet is on us</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <img style="width: 20%; height: 70px; text-align:center" src="/static/images/insurance.png" alt="zero hidden charges" data-wow-delay=".2s">
                        <h3 style="font-size: 15px"><strong>ZERO HIDDEN CHARGES</strong></h3>
                        <p class="text-muted" style="font-size: 15px">We got you covered. Our prices include taxes & insurance</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div class="service-box">
                        <img style="width: 20%; height: 70px; text-align:center" src="/static/images/wallet.png" alt="affordable prices" data-wow-delay=".3s">
                        <h3 style="font-size: 15px"><strong>AFFORDABLE PRICES</strong></h3>
                        <p class="text-muted" style="font-size: 15px">Our rent starts at Rs. 350 per day only</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside></aside>
    <section class="no-padding" id="portfolio">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading section-heading-color">Tariffs</h2>
                  <hr class="primary">
              </div>
          </div>
      </div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-6 col-sm-6 text-center" >
                    <div class="portfolio-box wow bounceIn">
                        <img src="../static/images/activa.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Honda Activa
                                </div>
                                <div class="project-name">
                                    Starting at Rs. 35/hour, Rs. 350/day
                                </div>
                                <div style="padding:10px;">
                                  <a href="/search/" class="btn btn-default btn-xl btn-color wow tada page-scroll">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center" >
                    <div  class="portfolio-box wow bounceIn">
                        <img src="../static/images/pulsar.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Bajaj Pulsar 180
                                </div>
                                <div class="project-name">
                                    Starting at Rs. 55/hour, Rs. 550/day
                                </div>
                                <div style="padding:10px;">
                                  <a href="/search/" class="btn btn-default btn-xl btn-color wow tada page-scroll">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center" >
                    <div class="portfolio-box wow bounceIn">
                        <img src="../static/images/thunderbird.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    RE Thunderbird 500
                                </div>
                                <div class="project-name">
                                    Starting at Rs. 120/hour, Rs. 1200/day
                                </div>
                                <div style="padding:10px;">
                                  <a href="/search/" class="btn btn-default btn-xl btn-color wow tada page-scroll">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center" >
                    <div class="portfolio-box wow bounceIn">
                        <img src="../static/images/continentalGT.png" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    RE Continental GT
                                </div>
                                <div class="project-name">
                                    Starting at Rs. 130/hour, Rs. 1300/day
                                </div>
                                <div style="padding:10px;">
                                  <a href="/search/" class="btn btn-default btn-xl btn-color wow tada page-scroll">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% include 'footer.html' %}

</body>

</html>
