        <div class="row row-bottom-border">
            <div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bike-img col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <img src="{{ MEDIA_URL }}images/enfield.png" class="img-responsive"></img>
                </div>
                <div class="details col-lg-5 col-md-5 col-sm-5 col-xs-7 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 pull-right">
                    <div class="bike-info">
                        <h4>
                            <a href="rent-bike/royal-enfield-bullet-500/">Royal Enfield Bullet 500</a>
                        </h4>
                        <h5>
                            Rent starts at <b>Rs.1000/day</b>
                        </h5>
                        <h5>
                            Security deposit : Rs. 1000
                        </h5>
                        <h5>
                            Available at Silk Board
                        </h5>
                        <div style="margin-top: 10px;"><a class="btn btn-primary checkoutBtn" href="/search/">
                            Book Now
                        </a></div>
                    </div>
                </div>
          </div>
        </div>
        <div class="row row-bottom-border">
            <div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div class="bike-img col-lg-4 col-md-4 col-sm-5 col-xs-5">
                    <img src="{{ MEDIA_URL }}images/pulsar.png" class="img-responsive"></img>
                </div>
                <div class="details col-lg-5 col-md-5 col-sm-5 col-xs-7 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 pull-right">
                    <div class="bike-info">
                        <h4>
                            <a href="/rent-bike/bajaj-pulsar-180">Bajaj Pulsar 180</a>
                        </h4>
                        <h5>
                            Rent starts at <b>Rs.550/day</b>
                        </h5>
                        <h5>
                            Security deposit : Rs. 1000
                        </h5>
                        <h5>
                            Available at Silk board
                        </h5>
                        <div style="margin-top: 10px;"><a class="btn btn-primary checkoutBtn" href="/search/">
                            Book Now
                        </a></div>
                    </div>
                </div>
            </div>
          </div>

          <div class="row row-bottom-border ">
              <div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="bike-img col-lg-4 col-md-4 col-sm-5 col-xs-5">
                      <img src="{{ MEDIA_URL }}images/activa.png" class="img-responsive"></img>
                  </div>
                  <div class="details col-lg-5 col-md-5 col-sm-5 col-xs-7 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 pull-right">
                      <div class="bike-info">
                          <h4>
                              <a href="/rent-bike/honda-activa">Honda Activa</a>
                          </h4>
                          <h5>
                              Rent starts at <b>Rs.350/day</b>
                          </h5>
                          <h5>
                              Security deposit : Rs. 1000
                          </h5>
                          <h5>
                              Available at Silk board
                          </h5>
                          <div style="margin-top: 10px;"><a class="btn btn-primary checkoutBtn" href="/search/">
                              Book Now
                          </a></div>
                      </div>
                  </div>
            </div>
          </div>

          <div class="row row-bottom-border">
              <div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="bike-img col-lg-4 col-md-4 col-sm-5 col-xs-5">
                      <img src="{{ MEDIA_URL }}images/dio.png" class="img-responsive"></img>
                  </div>
                  <div class="details col-lg-5 col-md-5 col-sm-5 col-xs-7 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 pull-right">
                      <div class="bike-info">
                          <h4>
                              <a href="/rent-bike/honda-dio">Honda Dio</a>
                          </h4>
                          <h5>
                              Rent starts at <b>Rs.350/day</b>
                          </h5>
                          <h5>
                              Security deposit : Rs. 1000
                          </h5>
                          <h5>
                              Available at Silk board
                          </h5>
                          <div style="margin-top: 10px;"><a class="btn btn-primary checkoutBtn" href="/search/">
                              Book Now
                          </a></div>
                      </div>
                  </div>
            </div>
          </div>
          <div class="row row-bottom-border">
              <div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="bike-img col-lg-4 col-md-4 col-sm-5 col-xs-5">
                      <img src="{{ MEDIA_URL }}images/gusto_white.png" class="img-responsive"></img>
                  </div>
                  <div class="details col-lg-5 col-md-5 col-sm-5 col-xs-7 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 pull-right">
                      <div class="bike-info">
                          <h4>
                              <a href="/rent-bike/mahindra-gusto">Mahindra Gusto</a>
                          </h4>
                          <h5>
                              Rent starts at <b>Rs.350/day</b>
                          </h5>
                          <h5>
                              Security deposit : Rs. 1000
                          </h5>
                          <h5>
                              Available at Silk board
                          </h5>
                          <div style="margin-top: 10px;"><a class="btn btn-primary checkoutBtn" href="/search/">
                              Book Now
                          </a></div>
                      </div>
                  </div>
            </div>
          </div>
