<html>
<title>Dryve | Bike and Scooter Rental in Bangalore</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Two-wheeler rentals in Bangalore - Dryve</title>
<meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
<meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
<meta name="author" content="">
<meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
<link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
<script>
Global = {};
Global.crack="{{ csrf_token }}";
</script>
<body>
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                    <span class="icon-bar">
                    </span>
                </button>
                <a class="navbar-brand page-scroll" href="/">DRYVE  <span style="font-size:12px;">(Beta)</span></a>
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

<section class="container">
	<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<h2 class="section-heading section-heading-color product-header">
							DRYVE | Vendor Login
					</h2>

			</div>
	</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
		  <form method="post" action="/bookings/get_booking_enquiry/">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<label style="color:red;">{{msg}} </label>
					</div>
			</div>
				<div class="row">
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		      <div class="inner-addon has-feedback">
		        <input class="jr-input form-control" type="text" name="user" placeholder="Username">
		      </div>
		    </div>
			</div>
			<div class="row">
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		      <div class="inner-addon has-feedback">
		        <input class="jr-input form-control"  type="password" name="password" placeholder="Password">
		      </div>
		    </div>
			</div>
			<div class="row">
		    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-top:20px;">
		      <button class="btn btn-primary" type="submit">
		        Login
		      </button>
		    </div>
			</div>
		</div>
</section>
</form>
{% include 'footer.html' %}
</body>
</html>
