<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">
                      Toggle navigation
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
              </button>
              <a class="navbar-brand page-scroll" href="/">DRYVE  <span style="font-size:12px;">(Beta)</span></a>
              <a href="https://play.google.com/store/apps/details?id=in.co.dryve.customer" target="_blank"><img class="gpIcon" src="{{ MEDIA_URL }}images/dryve_app_android.png"/></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li>
                    </li>
                  <li>
                      <a class="page-scroll" href="/#home">Home</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/#services">Why Dryve?</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/#portfolio">Tariffs</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/contact-us/">Contact Us</a>
                  </li>
                  <li>
                      <a class="page-scroll bookNowMenu" href="/search/">Book Now</a>
                  </li>
                  <!--<li style="display:none;">
                      <a id="modal_trigger" href="#modal">Login</a>
                  </li>-->
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
