<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Two-wheeler rentals in Bangalore - Dryve</title>
    <meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
    <meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
    <script>
        Global = {};
        Global.crack="{{ csrf_token }}";
    </script>

</head>

<body id="page-top">

    {% include 'navHeader.html' %}



	<aside id="privacypolicy" style="background-color: #f1f1f1;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h2 class="section-heading-color">Privacy Policy</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
		<div class = "container">
      <div class="row">
		<p>

		<ul>
      <h4><b>Last updated on December 24th, 2015</b></h4>
			<li>This  Privacy  Policy  (the  “Policy”)  sets  out  how  Dryve.co.in  (“dryve”,  “we”,  “us”  and/or  “our”)

collects, uses, shares and protects any information that you give us when you use this website

(the “Site”). Dryve is committed to ensuring that your privacy is protected as your privacy on the

Internet is of the utmost importance to us. Because we gather certain types of information about

our users in order to provide, protect, maintain and improve our services, we feel you should fully

understand  the  Policy  surrounding  the  capture  and  use  of  that  information.  Please  read  the

Policy carefully.

http://www.dryve.co.in  is  owned  and  operated  under  legal  name  Bobblehead  Technologies

Private Limited</li><br/>
			<li><b>Collection and Use of Personal Information : </b>
When you apply for or maintain an account with Dryve, we collect certain personally identifiable

information (“Personal Information”), such as your name, contact preferences telephone number,

mailing  address,  and  e­mail  address.  By  providing  information  to  create  a  user  account  or

complete your user profile, you expressly and voluntarily accept this Policy and Dryve's Terms of

Use. Supplying personal information to us, personal or other, is entirely voluntary on your part.

Other personal information that we collect includes the following:

Vehicle Use Data: Vehicles will contain hardware that gathers and transmits information about

vehicle use. This is done as a security measure against accident or theft and also to provide you

with valuable services and information, such as other drivers' data.

Location Tracking: To prevent theft, and to allow us to locate you in case of emergency, accident,

lock­out, etc., we track the location of your vehicle. Your location information will be confined to

Dryve service, and we will never impermissibly make your location or movements public. As part

of our service, the location of your vehicle may be released to insurance companies, the police,

or  similar  parties  in  the  course  of  an  investigation  and/or  accident  claim,  and  to  provide

assistance in emergencies. Information regarding the location of each vehicle on Dryve’s site is

also transmitted to Dryve and can be tracked by your Dryve­enabled smartphone.

Driver and Vehicle Information: As a member of Dryve’s Site, you authorize us to access your

driver’s  record,  vehicle  history  report  from  all  applicable  entities  and  authorities.  This

authorization  continues  for  as  long  as  you  are  a  Dryve  member.  Moreover,  you  authorize  all

DMVs, RMVs, auto mechanics and all other entities and interested parties to release information

to us regarding your driving record and vehicle history.

You  have  the  right  to  request  that  Dryve  discontinue  use  of  your  personal  information.  To

withdraw your consent to our collection and processing of your information at any time, you may

contact us at support@dryve.co.in.
</li><br/>
			<li><b>Collection and Use of Non-Personal Information : </b>
We also collect non­-personal information – data in a form that does not permit direct association

with any specific individual, including IP addresses, usage details and identifying technologies.

We may use, transfer, collect and disclose non­personal information for any purpose. If we do

combine  non­personal  information  with  personal  information,  the  combined  information  will  be

treated as personal information for as long as it remains combined.

Aggregate  Information:  We  may  share  non­personally  identifiable  information  (such  as

referring/exit pages, anonymous usage data, and URLs, platform types, number of clicks, etc.)

with  interested  third  parties  to  help  them  understand  the  usage  patterns  for  certain  Dryve

services.
</li><br/>
			<li><b>Cookies : </b>
We use various technologies, including “cookies”, to collect non­identifiable information. A cookie

is a piece of data that a website can send to your browser, which may then be stored on your

computer  as  an  anonymous  tag  that  identifies  your  computer  but  not  you.  To  enhance  our

Service,  some  Dryve  pages  use  cookies,  sent  by  Dryve  or  its  third  party  vendors,  or  other

technologies.  You  may  control  the  effect  of  cookies  through  your  browser  settings,  however

some features of Dryve’s Service may not work properly if your use of cookies is disabled.

We  may  also  use  Web  beacon  or  other  technologies,  often  in  conjunction  with  cookies,  to

enhance  our Service  on  a  number  of  pages  of  Dryve’s  website. A  non­identifiable  notice  of  a

visitor’s visit to a page on Dryve’s site is generated and recorded, and which may be processed

by us or by our suppliers. To disable some of these features, you may disable cookies in your

web browser’s settings. Web beacon and other technologies will still detect visits to these pages,

but  the  notices  they  generate  are  disregarded  and  cannot  be  associated  with  other  non-
identifiable cookie information.
</li><br/>
			<li><b>Information Sharing : </b>
Dryve only shares Personal Information with third parties in the following limited circumstances:

We have your consent for the sharing of any sensitive personal information.

To  provide  other  trusted  businesses  or  persons  for  the  purpose  of  processing  personal

information on our behalf. We require that these parties agree to process such information based

on our instructions and in compliance with this Policy and any other appropriate confidentiality

and security measures.

We have a good faith belief that access, use, preservation or disclosure of such information is

reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable

governmental request including to law enforcement and in response to a court order, (b) detect,

prevent, or otherwise address fraud, technical or security issues, (c) enforce applicable Terms of

Use,  including  investigation  of  potential  violations  thereof,  or  (d)  protect  against  harm  to  the

rights, safety or property of Dryve, its users or the public as required or permitted by law.

To protect Dryve’s vehicles.

To protect ourselves against third­party claims.

We reserve the right to transfer any personal information we have about you in the event that we

sell or transfer all or a portion of our business or assets.

We partner with outside companies to provide you with additional services related to Dryve, such

as ride­sharing or parking benefits. When you purchase, register, or otherwise express interest in

a product or service offered by a third party through Dryve or sponsored on our site, you consent

to our  sharing  your personal information with those parties. Participation in rewards programs,

discount offers, contests, or other programs that involve third parties, authorizes Dryve to share

your personal information with those parties. A third party’s use of your information is bound by

contracts  and  agreements  between  Dryve  and  the  third  party.  We  only  share  information

reasonably needed to provide additional services, and such shared information may be bound by

other  privacy  agreements.  By  sharing  this  information,  you  agree  that  Dryve  is  not  liable  or

responsible for the actions or inactions of third parties.
</li><br/>
			<li><b>Links to Third-Party Websites : </b>
This Site may contain links to third­party websites, products, and services. Information collected

by third parties, which may include such things as location data or contact details, is governed by

their  privacy  practices.  We  encourage  you  to  learn  about  the  privacy  practices  of  those  third

parties. We cannot be responsible for these policies.
</li><br/>
			<li><b>Information Security : </b>
We take precautions – including administrative, technical, and physical measures – to safeguard

your personal information against loss, misuse or theft, as well as against destruction, alteration,

disclosure  and  unauthorized  access.  However,  no  security  system  can  be  completely  secure.

Accordingly,  we  cannot  guarantee  the  complete  security  of  your Personal  Information. Please

exercise caution when determining what Personal Information you disclose via the Site.

When you use our services or post on the Site, some of the Personal Information you share is

visible to other users and can be read, collected, or used by them. You are responsible for such

Personal Information you choose to submit in these instances. For example, if you list your name

and  email  address  on  the  site,  that  information  is  public.  Please  take  care  when  using  these

features.  Further,  you  are  responsible  for  maintaining  the  confidentiality  of  your  account  and

password and for restricting access to your computer, and you agree to accept responsibility for

all activities that occur under your account or password.
</li><br/>
<li><b>Updates to the Policy : </b>
Please note that this Policy may change from time to time. We will post any Policy changes on

the Site and without prior notice to you. Please review the Policy each time you use the Site. By

your continued use of the Site, you impliedly consent to the terms of the revised Policy.
</li><br/>
			<li><b>Misc : </b>
Dryve reserves the right to remove or edit content, refuse service, terminate accounts, or cancel

plans or orders at its sole discretion.
</li><br/>
			<li><b>How to Contact Us : </b>
If you have any questions or concerns about our Policy or data processing, please contact us at

support@dryve.co.in.
</li><br/>
		</ul>
		</p>
		</div>
  </div>
</aside>

{% include 'footer.html' %}

</body>

</html>
