<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='Rent Bikes, Motorcycles, Scooters in Bangalore.Rent bike by the hour, day, week or month online' name='description'>
    <meta content='bike hire, rent bike,rent motorcycle, rent scooter, motorcycle hire,scooter hire, two wheeler rental, bike rental, motorcycle rental, scooter rental, bike rent, motorcycle rent, scooter rent, bike sharing, motorcycle sharing,scooter sharing, rental bike, rental motorcycle, rental scooter, bike-sharing, hire bike, hire motorcycle, hire scooter, renting a bike, renting a motorcycle, renting a scooter, Bangalore, Bangalore bike hire, Bangalore bike rental, Bangalore bike rent, Bangalore bike sharing, Bangalore bike share, Bangalore bike club, Bangalore rental bike, Bangalore bike-sharing, Bangalore hire bike,Bangalore renting a bike, India, Indian, Indian bike-sharing, India bike-sharing, Indian bike-share, India bike-share, India bike club, India bike sharing, Indian bike, Dryve, Dryve.co.in,Dryve bike rental, Dryve bike rent, Dryve hire bike, Dryve motorcycle, travel Bangalore, explore india, explore Bangalore, travel, explore, self-drive bike, self drive bike, self-drive bike Bangalore,self-drive bike Bangalore, self drive Bangalore' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
    <meta name="google-signin-client_id" content="233893120329-u8i775il8t776dmq93si7r39mlt0h3el.apps.googleusercontent.com">

    <title>Dryve | Bike and Scooter Rental in Bangalore</title>
    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/animate.min.css" type="text/css">

    <!-- datetimepicker CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-datetimepicker.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/creative.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


<script>
    {#    <!-- Hotjar Tracking Code for http://www.dryve.co.in -->#}
     (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:266869,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    Global = {};

    Global.crack = "{{ csrf_token }}";
    request_path = "/order/checkout/";

    var Connect = {
    serverUrl: "{{ serverUrl }}"

    }

    function bind(f, obj, args) { //console.log('Bind-',obj, args);
    if (f) {
    if (f instanceof Function) {
        return f.apply(obj, args);
    } else {
        for (var fi = 0; fi < f.length; fi++) {
            f[fi].apply(obj, args);
        }
    }
    } else console.log('Empty callback');

    }

    function getAuth(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') c = c.substring(1);
    if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
    }
    return "";
    }

    var CallAjax = {

    urlMapping: {
    save_booking: 'save_booking/'
    },
    getData: function (url, id, data, callback, instance, settings) {
    var type = 'GET';
    //url=Connect.serverUrl+this.urlMapping[url]
    //url='/search/';
    if (settings) {
        if (settings['type']) {
            type = settings['type'].toUpperCase()
        }
        if (settings['data'] && settings['data'] == 'normal') {
            data['csrfmiddlewaretoken'] = Global.crack
        }
    }

    var default_settings = {
        url: url,
        data: data,
        dataType: "JSON",
        type: type,
        crossDomain: true,
        xhrFields: {
            withCredentials: true
        },
        error: function (xhr, textStatus, errorThrown) {

        }
    }

    if (settings) {
        if (settings['timeout']) {
            default_settings['timeout'] = parseInt(settings['timeout'])
        }
    }

    $.ajax(default_settings).always(function (response, e) {
        if (instance) {
            bind(callback, instance, [response, '', 0, 'ajax', url]);
        }
    })
    }

    };
    var vehicleList = null, ecode = null, vid = null, uname = null,rzp1 =null;

    function loadVehicleList(isPopulateList) {

      var pickup_time = $('#date-start-id').val() === "" ? 0 : new Date(moment($('#date-start-id').val()));
      var drop_time = $('#date-end-id').val() === "" ? 0 : new Date(moment($('#date-end-id').val()));
      var url = Connect.serverUrl+"/Dryve/Booking/nearby";
      var params = "?lat=" + 12.916935 + "&lon=" + 77.5667 + "&pickup_time=" + Number(pickup_time) + "&drop_time=" + Number(drop_time);
      url = url + params;

      var data = {
      bikeName: $('#bikeId').val(),
      startTime: $('#date-start-id').val(),
      endTime: $('#date-end-id').val()
    };
     $('#vehicleListContainer').html('');
     $('#vehicleListContainer').html('<div class="text-center"><img class="center-block img-responsive" src="/static/images/loading.gif" alt="laoding bikes"></img</div>');
    CallAjax.getData(url, null, '', function a(data) {
    vehicleList = data;
    if(isPopulateList === true)
      populateVehicleListing(vehicleList);
    else {
      getVehicleAvailabibiltyStatus(data);
    }
    }, {}, {
    type: 'GET',
    data: 'normal'
    });
    };

    function getVehicleAvailabibiltyStatus(data){
      for (var i = 0; i < data.length; i++) {
        if(data[i].vehicle_id === parseInt($('#vid').val())){
          rzp1.open();
          return;
        }
      }

      var err = "Oops...selected bike is not available anymore.Please try another bike!";
        //$('#loggedInUser').append(err);
        alert(err);
    };

    function sendToLoginService(data, action) {
      var url = Connect.serverUrl+"/Dryve/user/" + action;
      CallAjax.getData(url, null, data, function a(response) {
      if (response['status'] === "success") {
        if(action === 'custom/signup'){
            $(".user_register").hide();
            $(".user_login").show();
            $('#errorMsgSignup').html('');
            $('#errorMsgLogin').html('');
            $('.reset_password').hide();
            $(".header_title").text('Login');
            $('#errorMsgLogin').html('Signup successful.Please login!');

        }else{
          $('#user').val(JSON.parse(response['data:- ']).email);
          $('#uname').val(JSON.parse(response['data:- ']).name);
          if (typeof (Storage) !== "undefined"){
            var user = {'name':JSON.parse(response['data:- ']).name,
                        'email':JSON.parse(response['data:- ']).email,
                        'phone':JSON.parse(response['data:- ']).mobile_no
                      };
            sessionStorage.setItem('user', JSON.stringify(user));
          }
          $("#modal").hide();
          $("#lean_overlay").hide();
          moveToCheckout();
        }
      } else {
        if(action === 'signin'){
          $('#errorMsgLogin').html(response['reason']);
        }else{
          $('#signup_detail').show();
          $('#verify_email').hide();
          $(".header_title").text('Register');
          $('#errorMsgSignup').html(response['reason']);
        }
      }
      }, {}, {type: 'POST', data: 'normal'});
    };

    function populateVehicleListing(vehicleList) {
    var listDivString = '', bike_url ='',imgUrl='';
    if(vehicleList.length === 0){
      listDivString += '<div class="row"><div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12"><h5>No Bikes available.Please try another pickup and drop time</h5></div></div>';
    }
    for (var i = 0; i < vehicleList.length; i++) {
      bike_url=vehicleList[i].vehicle_name;
      bike_url = bike_url.replace(new RegExp(' ', 'g'), '-');
      if(vehicleList[i].image[0] !== null){
        imgUrl =vehicleList[i].image[0].image;
      }else{
        imgUrl = '';
      }

    var htmlString = ' <div class="row"><div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-bottom: #dad9d9 solid 1px; padding-bottom:8px;">';
    var imgDiv = '<div class="bike-img col-lg-3 col-md-3 col-sm-6 col-xs-4"><a href="/rent-bike/'+bike_url+'"><img src=' + imgUrl + ' class="img-responsive" style="max-height:120px;"></img></a></div>';
    var vehicleDetails = '<div class="details col-lg-4 col-md-4 col-sm-5 col-xs-6"><div class="bike-info"><h4><a href="/rent-bike/'+bike_url+'">' + vehicleList[i].vehicle_name + '</a></h4>';
    vehicleDetails += '<h5>Rental charges: Rs. ' + vehicleList[i].fare_for_weekdays_per_day + ' per day</h5><h5>Security deposit: Rs. ' + vehicleList[i].security_deposit +'</h5>';
    vehicleDetails +='<h5>Pickup location: '+vehicleList[i].vendor['pickup_location']+'</h5><div><div id="' +i+"-"+ vehicleList[i].vehicle_id + '" class="btn btn-primary checkoutBtn">Book</div></div></div></div>';
    var bookingDetailDiv = '<div class="details col-lg-2 col-md-2 col-sm-3 col-xs-3 pull-right"><div class="book-now"></div></div></div></div>';
    listDivString += htmlString + imgDiv + vehicleDetails + bookingDetailDiv;
    }
    $('#vehicleListContainer').html(listDivString);
    registerEventOnClass();
    };

    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
    };

    function validatePhone(mobile) {
        var re = /^[1-9]{1}[0-9]{9}$/;
        return re.test(mobile);
    };

    function validateLoginForm(email,password){

      if (email === "" || !validateEmail(email)) {
        $('#errorMsgLogin').html('Please enter a valid email id');
        return false;
      }
      if (password === "" || password.length < 6)  {
        $('#errorMsgLogin').html('Your password should contain atleast 6 characters');
        return false;
      }
      return true;
    };

    function validateUserSignup(email,name,password,mobile,ecode){

      if (name === "" ||  name.length < 2) {
        $('#errorMsgSignup').html('Please enter a valid name');
        return false;
      }

      if (email === "" || !validateEmail(email)) {
          $('#errorMsgSignup').html('Please enter a valid email id');
        return false;
      }
      if (mobile === "" ||  !validatePhone(mobile)) {
          $('#errorMsgSignup').html('Please enter a valid mobile number');
        return false;
      }

      /*if($('#ecode').val() === ""){
        alert('Please click verfiy email button to generate OTP');
        return false;
      }
      if($('#ecode').val() !== ecode){
        alert('Please enter valid OTP sent to your email');
        return false;
      }*/

      if (password === "" || password.length < 6)  {
          $('#errorMsgSignup').html('Your password should contain atleast 6 characters');
        return false;
      }
      return true;
    };

    function validateInputFields() {

    var startTime = $('#date-start-id').val(),
    endTime = $('#date-end-id').val();

    if (startTime === "") {
    $('#date-input-msg').html('<label class="label label-danger">Please enter a valid pickup time</ label>');
    return false;
    }
    if (endTime === "" || endTime <= startTime) {
    $('#date-input-msg').html('<label class="label label-danger">Please enter a valid drop time</ label>');
    return false;
    }
     return true;
    };

  function validateUserloggedIn() {
    var usr = $('#user').val();
    if (usr === "") {
      if (typeof (Storage) !== "undefined"){
        usr = JSON.parse(sessionStorage.getItem("user"));
        if(usr !== null){
          $('#user').val(usr.email);
          $('#uname').val(usr.name);
          return true;
        }
      }
      $("#modal_trigger").click();
      return false;
    } else {
      return true;
    }
  };

  function launchRazorPay(amount,vehicle){
    var name="",email="",phone=null;

    if (typeof (Storage) !== "undefined"){
      var usr = JSON.parse(sessionStorage.getItem("user"));
      if(usr !== null){
        name=usr.name;
        email=usr.email;
        phone=usr.phone;
      }
    }

   var rpKey = "rzp_live_2tqREuw5BbxAEw";

    var options = {
      "key": rpKey,
      "amount": amount,
      "name": "Dryve.co.in",
      "description": "Website online booking payment",
      "image": "{{ MEDIA_URL }}images/logo.png",
      "handler": function (response){
        $('#rpid').val(response.razorpay_payment_id);
        $("#checkout-form").submit();
      },
      "prefill": {
          "name": name,
          "email": email,
          "contact":phone
      },
      "notes": {
          "address": ""
      },
      "theme": {
          "color": "#F37254"
      }
    };
     rzp1 = new Razorpay(options);
  }

  function renderCheckoutPage (info){

    var dtime = new Date(moment($('#date-end-id').val()));
    var ptime = new Date(moment($('#date-start-id').val()));

    var loggedInUserStr = '<div class="alert alert-success"><p><b>Welcome '+$('#uname').val()+'</b>, please review the booking detail:</p></div>'
    $('#loggedInUser').html(loggedInUserStr);

    var imgDiv = '<img src="'+ info.image[0].image +'"  class="img-responsive"></img>';
    $('#imgDiv').html(imgDiv);

    var bikeDetailStr = '<div id="bike-info" class="bike-info"><h4><a href="#">'+info.vehicle_name+'</a></h4></div>';
    bikeDetailStr+='<h5>Rental charges: Rs. '+info.fare_for_weekdays_per_day+' per day</h5>';
    bikeDetailStr+='<h5>Security deposit: Rs. '+info.security_deposit+'</h5>';
    bikeDetailStr+='<h5>Pickup location: '+info.vendor['pickup_location']+'</h5>';
    $('#bike-detail').html(bikeDetailStr);

    var hr = parseFloat(dtime-ptime)/(3600*1000).toFixed(2);
    var days = parseInt(hr/24);
    hr = parseFloat(hr%24).toFixed(2);

    var bookingDetailStr = '<h5>Pickup time: '+$('#date-start-id').val()+'</h5>';
    bookingDetailStr += '<h5>Drop time: '+$('#date-end-id').val()+'</h5>';
    bookingDetailStr += '<h5>Duration: '+days+' Day '+hr+' Hour</h5>';
    $('#booking-info').html(bookingDetailStr);
    var minPrice = 0.4*info.fare_for_weekdays_per_day;

    if(hr>=10){
        days = days+1;
    }else{
        days = days + (hr/10);
    }
    var amount = days * info.fare_for_weekdays_per_day;
    if(amount < minPrice){
      amount = minPrice;
    }
    amount = parseFloat(amount).toFixed(2);

    var paymentInfo = '<p>Total Tariff : Rs. '+amount+'</p>';
    paymentInfo += '<p><strong>Total amount payable: Rs. '+amount+'</strong></p>';
    $('#payment-info').html(paymentInfo);

    if(info.vendor.vendor_name === 'Dryve'){
        $('#vendor-32').hide();
        $('#vendor-31').show();
    }else if(info.vendor.vendor_name === 'HWY Rider'){
      $('#vendor-31').hide();
      $('#vendor-32').show();
    }
    //prepare razorpay object to start payment on click of payment button
    launchRazorPay((amount*100),info.vehicle_name);

    $('#searchPageContainer').hide();
    $('#checkoutPageContainer').show();
  };

 function prepareCheckoutData(){
   vid = $(this).attr("id");
   moveToCheckout();
 };

  function moveToCheckout(){
    //alert($(this).attr("id"));

    if (!validateInputFields()) {
      $('html, body').animate({
              scrollTop: $('#services').offset().top
          }, 100);
      return false;
    }

    if (!validateUserloggedIn()) {
      return false;
    }else {

      var ind = vid.split("-")[0];
      var info = vehicleList[ind];
      var dtime = new Date(moment($('#date-end-id').val()));
      var ptime = new Date(moment($('#date-start-id').val()));
      $('#vid').val(info.vehicle_id);
      $('#sd').val(info.security_deposit);
      $('#pickup_loc').val(info.vendor['pickup_location']);
      $('#drop_time').val(Number(dtime));
      $('#pickup_time').val(Number(ptime));
      $('#pr').val(info.fare_for_weekdays_per_day);

      renderCheckoutPage (info);
    }
  };

  function handleCheckoutAction() {
    loadVehicleList(false);

    //$("#checkout-form").submit();
  };

  function registerEventOnClass() {
    var classname = document.getElementsByClassName("checkoutBtn");
    for (var i = 0; i < classname.length; i++) {
      classname[i].addEventListener('click', prepareCheckoutData, false);
    }
  };

  function doEmailVerification(email){
    var url = Connect.serverUrl+"/Dryve/user/verify/email?email="+email;
    CallAjax.getData(url, null, email ,function a(data){
        if(data['status'] === "success"){
          ecode = data['code'];
          //alert("OTP sent successfully to your email! Please enter your OTP.");
          $('#signup_detail').hide();
          $('#verify_email').show();
          $('#errorMsgSignup').html("");
          $(".header_title").text('Verify Email');

        }else{
          $('#errorMsgSignup').html("Email verification failed.Try again");
        }
    }, {}, {type: 'POST', data: 'normal'})
  };

  function roundMinutes(date) {
      date = moment(date).tz("Asia/Kolkata");
      if (date.minutes() > 0) {
          date.hours(date.hours()+1);
      }
     date.minutes(0);
     date.seconds(0);
    return date.format("YYYY-MM-DD HH:mm");
  };


  $(document).ready(function () {

    // call ajax on init to load bike list
    loadVehicleList(true);

    if($('.alert-danger').length){
      $('#payFailMsg').addClass("alert");
    }

    var startDate = null,
    endDate = null;

    curDate = roundMinutes(new Date());
    nextDate = (new Date());
    nextDate = roundMinutes(nextDate.setDate(nextDate.getDate()+1))

    /*$('#date-start-id').val(curDate);
    startDate = curDate;
    $('#date-end-id').val(nextDate);
    endDate = nextDate;
    */
    $(".form_datetime").datetimepicker({
    autoclose: true,
    startDate: curDate,
    minuteStep: 60,
    minView: 1,
    format: 'yyyy-mm-dd hh:00'
    });

    $('#date-start').datetimepicker('setHoursDisabled', [23, 00, 01, 02, 03, 04, 05, 06, 07, 08]);
	  $('#date-end').datetimepicker('setHoursDisabled', [22,23, 00, 01, 02, 03, 04, 05, 06, 07, 08]);

    $('#date-end').datetimepicker().on('changeDate', function (ev) {
      if (startDate !== null && ev.date.valueOf() <= startDate) {
          $('#date-input-msg').html('<label class="label label-danger">Drop date cannot be equal or earlier than the start date.Please select valid drop time</label>');
      }else {
          endDate = ev.date.valueOf();
          $('#date-end-id').val(endDate);
            $('#date-input-msg').html('');
      }
    });

    $('#date-start').datetimepicker().on('changeDate', function (ev) {
      var d=new Date();
    if (ev.date.valueOf() < d) {
      $('#date-input-msg').html('<label class="label label-danger">Please select a valid booking start time</label>');
    } else if (endDate !== null && ev.date.valueOf() >= endDate) {
        $('#date-input-msg').html('<label class="label label-danger">Pickup date cannot be equal or later than end date.Please select valid pickup time</label>');
    }else {
        startDate = ev.date.valueOf();
        $('#date-start-id').val(startDate);
        $('#date-input-msg').html('');
    }
    });


    $('#searchBikeBtn').on('click', function () {
      if(!validateInputFields()){
        return false;
      }else{
        $('#payFailMsg').hide();
        loadVehicleList(true);
      }
    });

    $("#modal_trigger").leanModal({
    top: "10%",
    overlay: 0.6,
    closeButton: ".modal_close"
    });

    // Calling Login Form
    //$("#login_form").click(function () {
    //$(".social_login").hide();
    //$(".user_login").show();
    //return false;
    //});

    // Calling Register Form
    $("#register_form").click(function () {
  //$(".social_login").hide();
    $(".user_register").show();
    $('.reset_password').hide();
    $(".user_login").hide();
    $('#errorMsgSignup').html('');
    $('#errorMsgLogin').html('');
    $(".header_title").text('Register');
    return false;
    });

    // Going back to Social Forms
    $(".back_btn").click(function () {
    $(".user_login").show();
    $(".user_register").hide();
  //  $(".social_login").show();
    $('.reset_password').hide();
    $('#errorMsgSignup').html('');
    $('#errorMsgLogin').html('');
    $(".header_title").text('Login');
    return false;
    });

    $("#back_email_verify").click(function () {
    $('#signup_detail').show();
    $('#verify_email').hide();
    $(".header_title").text('Register');
    $('#ecode').val("");
    return false;
    });

    $("#resetBackBtn").click(function () {
    $(".user_login").show();
    $(".user_register").hide();
  //  $(".social_login").hide();
    $('.reset_password').hide();
    $('#errorMsgSignup').html('');
    $('#errorMsgLogin').html('');
    $(".header_title").text('Login');
    return false;
    });

    $('#registerBtn').on('click', function () {
    var data = {
        email: $('#remail').val(),
        password: $('#rpwd').val(),
        name: $('#rname').val(),
        mobile: $('#rphone').val(),
        gender: "male"
    }
    var email = $('#remail').val();
    //validateInputFields();
    if(validateUserSignup(data.email,data.name,data.password,data.mobile)){
      //sendToLoginService(data, "custom/signup");
      doEmailVerification(email);
    }
    });

    $('#loginBtn').on('click', function () {
      $('#successMsgLogin').html('');
    var data = {
        email: $('#lemail').val(),
        password: $('#lpwd').val()
    }
    if(validateLoginForm(data.email,data.password)){
      sendToLoginService(data, "signin");
    }

    });

    $('#payNowBtn').on('click', function () {
      handleCheckoutAction();
    });

    $('#cancelPayBtn').on('click', function () {
        $('#checkoutPageContainer').hide();
        $('#searchPageContainer').show();
        loadVehicleList(true);
    });

    $('#verifyEmail').on('click', function () {
        var data = {
            email: $('#remail').val(),
            password: $('#rpwd').val(),
            name: $('#rname').val(),
            mobile: $('#rphone').val(),
            //gender: "male"
        };

        if($('#ecode').val() === ""){
          $('#errorMsgFp').html("Please enter otp.");
          return false;
        }
        if($('#ecode').val() !== ecode){
          //alert('Please enter valid OTP sent to your email');
          $('#errorMsgFp').html("OTP did not match.Try again!");
          return false;
        }
        sendToLoginService(data, "custom/signup");

    });

    $('#forgotPassword').on('click', function () {
        var email = $('#lemail').val();
        if(email === ""){
          $('#errorMsgLogin').html("Please enter registered email id to reset your password");
          return;
        }
        doEmailVerification(email);

        $('.user_login').hide();
        $('.reset_password').show();
        $(".header_title").text('Reset Password');

    });

    $('#resetPasswordBtn').on('click', function () {
        var email = $('#lemail').val();
        var pass = $('#fpwd').val();

        if($('#fpOtp').val() === "" ){
          $('#errorMsgFp').html("Please enter otp sent to your email");
          return false;
        }
        if($('#fpOtp').val() !== ecode){
          //alert('Please enter valid OTP sent to your email');
          $('#errorMsgFp').html("OTP did not match.Enter valid otp");
          return false;
        }

        if (pass === "" || pass.length < 6)  {
              $('#errorMsgFp').html('Your password should contain atleast 6 characters');
          return false;
        }

        var url = Connect.serverUrl+'/Dryve/user/reset/password?email='+email+'&password='+pass;
        CallAjax.getData(url, null, email ,function a(data){
            if(data['status'] === "success"){
              //alert("Password reset successfully! Please login again.");
              $('#successMsgLogin').html("Password reset successful! Please login again.");
              $('#errorMsgLogin').html('');
              $('.reset_password').hide();
              $('.user_login').show();
            }
        }, {}, {type: 'POST', data: 'normal'})
    });

    })
    </script>

</head>

<body id="page-top">
{% include 'navHeader.html' %}
    <!-- Login Pop Up -->
    <div style="display:none;">
        <a id="modal_trigger" href="#modal">Login</a>
  </div>
    <div id="modal" class="popupContainer" style="display:none;">
    		<header class="popupHeader section-heading-color">
    			<span class="header_title">Login</span>
    			<span class="modal_close"><i class="fa fa-times"></i></span>
    		</header>

    		<section class="popupBody">
    			<!-- Social Login -->
    		<!--	<div class="social_login">
    				<div class="">
    					<div class="social_box fb">
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" size="xlarge">
                </fb:login-button>
    					</div>

    					<a href="#" class="social_box google">
                <div id="g-signin"></div>
    					</a>
    				</div>

    				<div class="centeredText">
    					<span>Or use your Email address</span>
    				</div>

    				<div class="action_btns">
    					<div class="one_half"><a href="#" id="login_form" class="btn btn-primary">Login</a></div>
    					<div class="one_half last"><a href="#" id="register_form" class="btn btn-primary">Sign up</a></div>
    				</div>
    			</div>-->

    			<!-- Username & Password Login form -->
    			<div class="user_login">
    				<form >
              <div>
              <label id="errorMsgLogin" class="label label-danger"></label>
              <label id="successMsgLogin" class="label label-success"></label>
            </div>
    					<label>Email / Username</label>
    					<input type="text" id="lemail" name='email'/>
    					<br />

    					<label>Password</label>
    					<input type="password" id="lpwd" name='pwd'/>
    					<br />


    					<!--   Feature currently not needed
    					<div class="checkbox">
    						<input id="remember" type="checkbox" />
    						<label for="remember">Remember me on this computer</label>
    					</div>
    					-->

    					<div class="action_btns">
    						<!--<div class="one_half"><a href="#" class="btn btn-primary back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>-->
    						<div class="one_half"><a id="loginBtn" class="btn btn_red btn-primary">Login <i class="fa fa-angle-double-right"></i></a></div>
    					</div>
    				</form>
            <div class="forgot_password">
      				<a id="forgotPassword" class="one_half">Forgot password?</a>
              <a id="register_form" class="one_half last">Sign up</a>
            </div>
    			</div>

          <!-- Username & Password reset password form -->
          <div class="reset_password">
            <form >
              <div>
              <label id="errorMsgFp" class="label label-danger"></label>
            </div>
              <label>Email otp</label>
              <input type="text" id="fpOtp" name='fpOtp' placeholder="Enter otp recieved in your email"/>
              <br />

              <label>Password</label>
              <input type="password" id="fpwd" name='pwd' placeholder="Enter new password"/>
              <br />

              <div class="action_btns">
                <div class="one_half"><a id="resetBackBtn" class="btn btn-primary back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                <div class="one_half last"><a id="resetPasswordBtn" class="btn btn_red btn-primary">Reset Password <i class="fa fa-angle-double-right"></i></a></div>
              </div>
            </form>
          </div>

    			<!-- Register Form -->
    			<div class="user_register">
    				<form>
              <div>
                <label id="errorMsgSignup" class="label label-danger"></label>
              </div>
              <div id="signup_detail">
    					<input type="text" id='rname' name='name' placeholder="Full Name"/>
    					<br />

    					<input type="email" id="remail" name='email' placeholder="Email Address"/>
              <br />

              <input id='rphone' type='text' name='rphone' placeholder="Mobile Number">
              <br />

    					<input id='rpwd' type="password" name='rpwd' placeholder="Password"/>
    					<br />

    					<div class="action_btns">
    						<div class="one_half"><a href="#" class="btn back_btn btn-primary"><i class="fa fa-angle-double-left"></i> Back</a></div>
    						<div class="one_half last"><a id="registerBtn" class="btn btn_red btn-primary">Register</a></div>
    					</div>
            </div>
            <div id="verify_email">
                <label>Please enter OTP sent to your email </label>
                <input id='ecode' type='text' name='ecode' placeholder="enter OTP " >
                <br />
              <div class="action_btns">
                <div class="one_half"><a href="#" id="back_email_verify" class="btn btn-primary"><i class="fa fa-angle-double-left"></i> Back</a></div>
                <div class="one_half last"><a id="verifyEmail" class="btn btn_red btn-primary">Submit</a></div>
              </div>
            </div>
    				</form>
    			</div>
    		</section>
    	</div>
    <!-- Login Pop Up Ends -->

  <div id="searchPageContainer">
    <section id="services" id="bs-example-navbar-collapse-1" style="background-color: #f1f1f1; margin-bottom:-20px;padding-bottom: 25px;">
        <div class="container">
            <div class="row">
                <div class="search-header" >
                    <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-left pad-5'>
                        <div class='input-group date form_datetime' id='date-start'>
                            <input type='text' class="form-control" id="date-start-id" name="ptime" placeholder="pickup date time" readonly/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-left pad-5'>
                        <div class='input-group date form_datetime' id='date-end'>
                            <input type='text' class="form-control" id="date-end-id" name="rtime" placeholder="drop date time" readonly/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class='col-lg-2 col-md-2 col-sm-4 col-xs-12 pull-left pad-5' >
                        <a id="searchBikeBtn" class="btn btn-primary btn-sqr" title="Click search to get available bikes for time selected"><h4>Search</h4>
                        <!--<i class="fa fa-3x fa-search text-primary" style="padding: 8px;" data-wow-delay=".3s"></i>-->
                        </a>
                    </div>
                </div>
            </div>
            <div id="date-input-msg" class="row">
            </div>
        </div>
    </section>
    <aside>
        <div class="container" >
          <div class="row">
            <div id="payFailMsg" class={{msgType}}>
              {{msg}}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <div>
                  <h2 class="section-heading section-heading-color product-header">
                        Choose your ride
                    </h2>
                </div>
                <!--<div class="btn btn-primary pull-right">
                    <i class="fa fa-filter">
                    </i>
                </div>-->
            </div>
          </div>
            <div id="vehicleListContainer">
            </div>
        </div>
    </aside>
  </div>
  <div id="checkoutPageContainer" style="display:none;">
    <section>
      <div class="container">
          <h2 class="section-heading section-heading-color product-header">
              Order Summary
          </h2>
      </div>
      <div class="container" style="padding:10px;">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
              <div class="row" id="loggedInUser">
              </div>
          </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" >
          <div class="row">
            <div id="imgDiv" class="bike-img col-lg-4 col-md-4 col-sm-4 col-xs-6">
            </div>
            <div id="bike-detail" class="details col-lg-4 col-md-4 col-sm-4 col-xs-6">
            </div>
            <div class="details col-lg-4 col-md-4 col-sm-4 col-xs-10 col-xs-offset-2 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 ">
              <div id="booking-info" class="booking-info" style="margin-top:36px;">
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right text-right" >
        <h3>Payment Summary</h3>
          <div class="row" style="margin-top: 36px;">
            <div>
              <div id="payment-info" class="payment-info"></div>
              <hr class="hr-100">
              <div id="cancelPayBtn" class="btn btn-primary ">Cancel</div>
              <div id="payNowBtn" class="btn btn-primary ">Proceed to payment</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container">

      <div id="vendor-31" class="row " style="display:none;">
          <div class="item-details col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4><b>Booking Guidelines</b></h4>
          <div>
            <ol>
              <li>Documents to be produced at the time of pickup: Original driving License, valid address proof (Passport/ Voters ID/ Aadhar Card) and local reference details (Company Id/ Employee Id).</li>
              <li>One bike order includes up to 2 helmets for the rider at no extra cost.</li>
                <li>Rental charges do not include fuel charges, which would have to be borne by the customer.</li>
                <li>Dryve provides unlimited free kms i.e. there is no usage (in KM) limit.</li>
              <li>Refundable Security deposit will be collected in cash at the time of pickup and will be returned back to the rider at the time of return.</li>
                <li>The bike must be hired by the rider for a minimum rental charges of 4 hours.</li>
                <li>1 Rental Day means 24 hours booking duration. Rental charges for hourly bookings for more than 10 hours will be treated the same as 1 Rental day.</li>
                <li>Rental charges do not include fuel charges, which would have to be borne by the customer.</li>
                <li>Standard hourly charges will be applicable per hour of delay. An additional Rs. 200 per day will be charged as late fee.</li>
                <li>The confirmation of booking is subject to our <a href="/policy/terms-and-conditions/">Terms & Conditions.</a></li>
                <li>Refer to our <a href="/policy/terms-and-conditions/#cancellationPolicy">Cancellation & Rescheduling Policy</a> for editing the above booking.</li>
            </ol>
          </div>
          </div>
      </div>

      <div id="vendor-32" class="row" style="display:none;">
          <div class="item-details col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4><b>Booking Guidelines</b></h4>
          <div>
            <ol>
              <li>Documents to be produced at the time of pickup: Original driving License and valid address proof (Passport/ Voters ID/ Aadhar Card) and local reference details (Company Id/ Employee Id).</li>
                <li>One bike order includes 1 helmet for the rider at no extra cost.</li>
                <li>Rental charges do not include fuel charges, which would have to be borne by the customer.</li>
                <li>Dryve provides unlimited free kms i.e. there is no usage (in KM) limit.</li>
                <li>Refundable Security deposit will be collected in cash at the time of pickup and will be returned back to the rider at the time of return.</li>
                <li>The bike must be hired by the rider for a minimum rental charges of 4 hours.</li>
                <li>1 Rental Day means 24 hours booking duration. Rental charges for hourly bookings for more than 10 hours will be treated the same as 1 Rental day.</li>
                <li>Standard hourly charges will be applicable per hour of delay. An additional Rs. 200 per day will be charged as late fee.</li>
                <li>The confirmation of booking is subject to our <a href="/policy/terms-and-conditions/">Terms & Conditions.</a></li>
                <li>Refer to our <a href="/policy/terms-and-conditions/#cancellationPolicy">Cancellation & Rescheduling Policy</a> for editing the above booking.</li>
            </ol>
          </div>
          </div>
      </div>

    </div>
  </div>
    <form id="checkout-form" name="checkout-form" method="post" action="/order/checkout/">{% csrf_token %}

        <input type="hidden" id='vid' name='vid' value=''>
        <input type="hidden" id='user' name='user' value=''>
        <input type="hidden" id='pickup_time' name='pickup_time' value=''>
        <input type="hidden" id='drop_time' name='drop_time' value=''>
        <input type="hidden" id='pr' name='pr' value=''>
        <input type="hidden" id='pickup_loc' name='pickup_loc' value=''>
        <input type="hidden" id='uname' name='uname' value=''>
        <input type="hidden" id='rpid' name='rpid' value=''>
        <input type="hidden" id='sd' name='sd' value=''>
    </form>
    {% include 'footer.html' %}


    <link rel="stylesheet" href="{{ MEDIA_URL }}css/footer-distributed.css" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/animate.min.css" type="text/css">

    <!-- datetimepicker CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-datetimepicker.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/creative.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- jQuery -->
    <script src="{{ MEDIA_URL }}js/index/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ MEDIA_URL }}js/index/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ MEDIA_URL }}js/index/jquery.easing.min.js"></script>
    <script src="{{ MEDIA_URL }}js/index/jquery.fittext.js"></script>
    <script src="{{ MEDIA_URL }}js/index/wow.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ MEDIA_URL }}js/index/creative.js"></script>


    <!-- Plugin for Login -->
  	<script type="text/javascript" src="{{ MEDIA_URL }}js/popupForLogin/jquery.leanModal.min.js"></script>
  	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  	<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/popupstyle.css" />

    <!-- Google social login -->
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

    <!-- for date time picker -->
    <script src="{{ MEDIA_URL }}js/index/moment-with-locales.js"></script>
    <script src="{{ MEDIA_URL }}js/index/bootstrap-datetimepicker.js"></script>
    <script src="{{ MEDIA_URL }}js/index/moment-timezone-with-data.min.js"></script>

</body>

</html>
