<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Two-wheeler rentals in Bangalore - Dryve</title>
    <meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
    <meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
    <script>
        Global = {};
        Global.crack="{{ csrf_token }}";
    </script>

</head>

<body id="page-top">

    {% include 'navHeader.html' %}

	<section id="contact" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 text-center">
                 <h2 class="section-heading section-heading-color">Our tariff</h2>
                   <hr class="primary">
              </div>
                  <div class="col-lg-12 col-md-1 col-sm-12 col-xs-12" style="margin-top:25px;">
                      <table class = "table table-bordered table-hover table-responsive ">

			          <thead>
    						<tr>
    						  <th rowspan="2">Bike Type</th>
    						  <th rowspan="2"><center>Per Hour(in Rs.)</center></th>
    						  <th colspan="2"><center>Per Day(in Rs.)</center></th>
    						  <th width="14%" rowspan="2"><center>Refundable Security Deposit(in Rs.)</center></th>
    			              <th width="11%" rowspan="2"><center>Free Km.(in Km)</br>per day</center></th>
    			              <th width="14%" rowspan="2"><center>Charges per Km.(in Rs.)<br><i>(Beyond free Km.)</i></center></th>
    			              <th width="18%" rowspan="2"><center>Charges per extra hour(in Rs.)<br><i>(excluding penalty)</i></center></th>
    			            </tr>
    			            <tr>
    			              <th width="9%"><center><i>(Mon-Thu)</i></center></th>
    			              <th width="9%"><center><i>(Fri-Sun)</i></center></th>
    			            </tr>
			          </thead>
			          <tbody>
			            <tr>
			              <td>Scooters</td>
			              <td><center> 30</center></td>
			              <td><center> 300</center></td>
			              <td><center> 300</center></td>
			              <td><center> 1000</center></td>
			              <td><center> 100</center></td>
			              <td><center> 2</center></td>
			              <td><center> 30</center></td>
			            </tr>
			            <tr>
			              <td>Pulsar 180</td>
			              <td><center> 55</center></td>
			              <td><center> 550</center></td>
			              <td><center> 550</center></td>
			              <td><center> 1000</center></td>
			              <td><center> 100</center></td>
			              <td><center> 2</center></td>
			              <td><center> 55</center></td>
			            </tr>
			            <tr>
			              <td>Royal Enfield 350</td>
			              <td><center> 90</center></td>
			              <td><center> 900</center></td>
			              <td><center> 900</center></td>
			              <td><center> 2000</center></td>
			              <td><center> 200</center></td>
			              <td><center> 4</center></td>
			              <td><center> 90</center></td>
			            </tr>
			            <tr>
			              <td>Royal Enfield 550</td>
			              <td><center> 120</center></td>
			              <td><center> 1200</center></td>
			              <td><center> 1200</center></td>
			              <td><center> 2000</center></td>
			              <td><center> 200</center></td>
			              <td><center> 4</center></td>
			              <td><center> 120</center></td>
			            </tr>
			           </tbody>
			        </table>
             	 </div>
             </div>
          </div>
       </div>
    </section>
</body>

{% include 'footer.html' %}

</body>

</html>
