<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Two-wheeler rentals in Bangalore - Dryve</title>
    <meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
    <meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
    <script>
        Global = {};
        Global.crack="{{ csrf_token }}";
    </script>

</head>

<body id="page-top">

    {% include 'navHeader.html' %}

	<section id="termsandconditions" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-color">Terms And Conditions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
		<div class = "container">
      <div class="row">
		<p>
		<ul>
			<li>Users have to deposit a refundable security deposit for all the vehicles (as mentioned at the booking page) at the time of receiving the vehicle. The same shall be refunded to you at the time of returning the vehicle after deducting all the statutory charges/costs</li>
			<li>A valid driving license must be produced in original to the vendor at the time of receiving the vehicle.</li>
			<li>Users should be wearing a Helmet and carry original driving license issued by the Government of India at all the times while driving the rented vehicle.</li>
		<li>The pick up point and drop point will remain the same and the vehicle cannot be asked to be collected from a 3rd location unless pickup/drop facility is provided by the vendor. However, in case of emergency please call our helpline number (+91­7899861150)</li>
          <li>Rider must be of Age 21 or above. Riding the vehicle under the influence of alcohol / banned drugs is strictly prohibited at all times</li>
			<li>Any physical damage / theft / loss to the vehicle or the accessories will be the sole responsibility of the person renting the vehicle. Rider will be liable to pay for all damages to Dryve and the vendor for the same as applicable</li>
			<li>Rider should respect and follow Traffic rules and regulations. All Challans issued due to rider negligence needs to be paid in full to the penalizing authority</li>
            <li>Driving under the influence of alcohol/drugs is strictly prohibited. Dryve will not be responsible to compensate for any mishappenings or consequences in such cases. Rider will be liable to pay for all damages to the vendor for the same</li>
          <li>Bookings are subject to availability. Dryve and its vendors reserve the right to cancel a booking if deemed necessary</li>
          <li>Please refer to ‘Booking Summary’ page during the booking for vehicle or pickup location specific terms and conditions</li>
		</ul>
		</p>
    </div>
		</div>
    </section>
<section id="cancellationPolicy" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-color">Cancellation Policy</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
		<div class = "container">
      <div class="row">
		<p>
		<ul>
          <li>In case of a cancellation, 100% fare is refundable if cancellation is done before 24 hours of pick-up time. A cancellation fee of 50% fare is applicable if the cancellations is done between 24-2 hours of pick-up time. Fare will not be refundable if cancelled within 2 hours of pick-up time or later.</li>
          <li>If any booking is cancelled by Dryve when a vehicle is not available or any other issues, full refund will be initiated.</li>
          <li>All refunds will take around 7-10 business days to reach the customer's account depending on the bank.</li>
		</ul>
		</p>
    </div>
		</div>
    </section>
<section id="extensionPolicy" style="background-color: #f1f1f1;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading section-heading-color">Rescheduling & Extension Policy</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
		<div class = "container">
      <div class="row">
		<p>
		<ul>
            <li>All rescheduling requests are to be made at least 1 day before the pickup time and all extension requests are to be made at least 1 day before the drop off time. Such requests are to be made to customer care/ vendor over the phone. As per booking schedule, they may confirm or deny the request depending on the vehicle availability.</li>
          <li>Original discounted rates won’t be applicable on trip extension.</li>
		</ul>
		</p>
    </div>
		</div>
    </section>



</body>

{% include 'footer.html' %}

</body>

</html>
