<!DOCTYPE html>
{% load date_tags %}
<html lang="en">

<html>
<title>Dryve | Bike and Scooter Rental in Bangalore</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Two-wheeler rentals in Bangalore - Dryve</title>
<meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
<meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
<meta name="author" content="">
<meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
<link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" type="text/css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript" src="https://www.google.com/jsapi" > </script>

<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

</head>

<style>
.chartTableClass{
  width:100%;
  margin:8px 8px 8px 8px;
  white-space:nowrap;
}
</style>
<section>

   <script type="text/javascript" >
    {#    <!-- Hotjar Tracking Code for http://www.dryve.co.in -->#}
     (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:266869,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    var b=0,c=0;
    Global = {};
    Global.crack="{{ csrf_token }}";
    serverUrl = "{{serverUrl}}";
    v_id = "{{vendor_id}}";

     var v1,v2,v3,v4,v5;
        var data=[];

   function createCustomHTMLContent(bookingNo, name, stime, etime) {
      return '<div style="padding:5px 5px 5px 5px;"><table class="chartTableClass" style="">'+
             '<tr><td><b>Booking Id: </b></td><td>'+ bookingNo + '</td></tr>'+
             '<tr><td><b>Name: </b></td><td>'+ name + '</td></tr>'+
             '<tr><td><b>From: </b></td><td>'+ stime + '</td></tr>'+
             '<tr><td><b>To: </b></td><td>'+ etime + '</td></tr>'+
             '</table></div>';
    };

    function getData() {
      $('#chart_div').html('');
      $('#chart_div').html('<section><div class="text-center"><img class="center-block img-responsive" src="/static/images/loading.gif" alt="laoding bikes"></img</div><section>');

        var start_date=new Date();
        var newdate=new Date();

        start_date.setMonth(start_date.getMonth());
        newdate.setMonth(newdate.getMonth());
        start_date.setDate(start_date.getDate()-7);
        newdate.setDate(newdate.getDate() + 14);

        var end_date=new Date(newdate);

        var j=0;
       jQuery.ajax({
            url: serverUrl + "/Dryve/booking/history/all?vendorId="+v_id,
            data: "vendor",
            dataType: "JSON",
            type: "POST",
            crossDomain: true,
            xhrFields: {
                withCredentials: true
            },
            success: function( response, jqXHR ) {

                if( response == "null" ) {
                    // just in case
                } else {
                for(var i=0;i<response.length;i++)
                {
                  if(response[i].bd.booking_status){
                    v1=response[i].bd.vehicle.registration_no + "("+response[i].bd.vehicle.vehicle_name+")";
                    v2=null;
                    v4=moment(response[i].bd.pickup_time).tz("Asia/Kolkata");//.format("YYYY-MM-DD");
                    v44=moment(response[i].bd.pickup_time).format("MMM Do, h:mm a");
                    //v2=moment(v2).toISOString();

                    v5=moment(response[i].bd.drop_time).tz("Asia/Kolkata");//.format("YYYY-MM-DD");
                    v55=moment(response[i].bd.drop_time).format("MMM Do, h:mm a");
                    //toISOString();
                    v4=new Date(v4);
                    v5=new Date(v5);
                    if(response[i].bd.vendor_manual_booking){
                    v3=response[i].vendorUser.name
                    }else{
                    v3=response[i].user.name
                    }
                    v6 = response[i].bd.booking_no;

                    v3 = createCustomHTMLContent(v6, v3, v44, v55);

                    if((v4 > start_date ))
                    {
                        data[j]=[v1,v2,v3,v4,v5];
                    }
                    if( v5 < end_date )
                    {
                        j=j+1;
                     }
                }
              }
                  drawGraph( data );
                }
            },
            error: function( textStatus ) {

                console.log(" error. damn! ");
            }
        });

    }

    /* Initialization of Google Charts API */
    google.charts.load('current', {'packages':['timeline']});
    //google.load( "visualization" , "1", { packages: [ "gantt" ] });

    google.setOnLoadCallback( getData );



    /* Chart to render time-user graphs */
    function drawGraph( data ) {

        /*for( var i = data.length; i > 0; i-- ) {
            data[i] = data[i - 1];
        }

       // data[0] = [ 'Name', 'Start_time','End_time' ];*/
        // var data = new google.visualization.DataTable();
        $('#chart_div').html('');
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn({ type: 'string', id: 'Name' });
        dataTable.addColumn({ type: 'string', id: 'dummy bar label' });
        //dataTable.addColumn({type: 'string', role: 'tooltip'});
        dataTable.addColumn({'type': 'string', 'role': 'tooltip', 'p': {'html': true}});
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });


        for (var i=0;i<data.length;i++) {
   //delete json[i].location;
   //delete json[i].outcome_status;
        var row = [];
       /* for (var item in data[i]) {
            row.push(data[i][item]);
        }*/
        dataTable.addRow(data[i]);
    }

        var chart = new google.visualization.Timeline(document.getElementById('chart_div'));

        //alert(end_date);
          var config = {
                height:'400',
                width:'90%',
                is3D:true,
                tooltip: {isHtml: true},
                legend: 'none'
                }

        chart.draw( dataTable , config );
  }
</script>
</section>

<body id="page-top">

{% include 'inventory/navLinks.html' %}

<div id="chart_div" class="container-fluid">
</div>
  {% include 'footer.html' %}
    <script src="{{ MEDIA_URL }}js/dashboard/jquery.dataTables.min.js"></script>
    <script src="{{ MEDIA_URL }}js/dashboard/dataTables.bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/dataTables.bootstrap.min.css" type="text/css">
    <script src="{{ MEDIA_URL }}js/index/moment-with-locales.js"></script>
    <script src="{{ MEDIA_URL }}js/index/moment-timezone-with-data.min.js"></script>

     <script src="{{ MEDIA_URL }}js/index/moment-with-locales.js"></script>
    <script src="{{ MEDIA_URL }}js/index/bootstrap-datetimepicker.js"></script>
    <script src="{{ MEDIA_URL }}js/index/moment-timezone-with-data.min.js"></script>

</body>

</html>
