<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='Bike, Motorcycles, Scooters available for rent at dryve.co.in .Rent Royal Enfield Classic Desert Storm 500 online by the hour, day, week or month. Honda Activa, Mahindra Gusto, pulsar, dio, enfield, Royal Enfield Classic Desert Storm 500 available for rent' name='description'>
    <meta content='rent Desert Storm 500, Royal Enfield, Royal Enfield Classic Desert Storm 500, Classic Desert, Royal Enfield Classic Desert Storm, Desert Storm' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
    <title>Royal Enfield Classic Desert Storm 500</title>
    <script>
        Global = {};
        Global.crack="{{ csrf_token }}";

    </script>

</head>

<body id="page-top">
{% include 'navHeader.html' %}
    <section>
        <div class="container">
              <div class="row">
                  <div class="product-card col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="bike-img col-lg-5 col-md-5 col-sm-5 col-xs-12" style="margin-top: 10px;">
                          <img src="../../static/images/desert-storm.png" class="img-responsive" alt="Royal Enfield Classic Desert Storm 500"></img>
                      </div>
                      <div class="details col-lg-6 col-md-7 col-sm-7 col-xs-12 col-lg-offset-1 col-md-offset-1 pull-right">
                          <div class="bike-info">
                              <h2 class="section-heading section-heading-color product-header">Royal Enfield Classic Desert Storm 500</h2>
                              <h4>
                                  Rent starts at <b>Rs.1200/day </b>
                              </h4>

                              <h4>
                                  Engine capacity : 500 cc
                              </h4>
                              <h4>
                                   Pickup Location : RT Nagar
                              </h4>
                              <div style="margin-top: 10px;"><a class="btn btn-primary checkoutBtn" href="/search/">
                                  Book Now
                              </a></div>
                          </div>
                      </div>
                </div>
              </div>

        </div>
    </section>
    <aside>
      <div class="container">
        <div class="row ">
          <div class="item-details col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4><b>Tariff charges (in Rs.) : </b></h4>
          </div>

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>per hour</th>
              <th>per day (Mon-Thu)</th>
              <th>per day (Fri-Sun)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>120</td>
              <td>1200</td>
              <td>1200</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

    </div>
  </aside>

  {% include 'footer.html' %}
</body>

</html>
