<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='Bike, Motorcycles, Scooters available for rent in whitefield at dryve.co.in .Rent bike online by the hour, day, week or month. Activa, pulsar, dio, enfield available for rent' name='description'>
    <meta content='bike hire in whitefield, rent bike in whitefield,rent motorcycle in whitefield, rent scooter in whitefield, whitefield motorcycle hire, whitefield scooter hire, two wheeler rental in whitefield, lease bike in whitefield,lease motorcycle,lease scooter,lease activa,pulsar for rent,dio for rent' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
    <link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
    <title>Bikes for rent in Whitefield</title>

    <script>
        Global = {};
        Global.crack="{{ csrf_token }}";
    </script>

</head>
<body id="page-top">
    {% include 'navHeader.html' %}
    <section>
        <div class="container">
          <div class="row section-heading-color page-header-list" >
              <div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="section-heading section-heading-color">Bikes for rent in Whitefield</h3>
              </div>
            </div>
            {% include 'listedBikes.html' %}
        </div>
    </section>

  {% include 'footer.html' %}

</body>

</html>
