<html>
<head>
<title>Redirecting to PayU for Payment</title>
<script>
function redirect_for_payment_at_payu() {
  var payu_form = document.forms.payu_form;
  payu_form.submit();
}
</script>
</head>
<body onload="redirect_for_payment_at_payu();">
<form action="{{ action }}" method="post" name="payu_form" style="display:none;">{% csrf_token %}
{{ form.as_p }}
</form>
<body>
<html>
