<!DOCTYPE html>
{% load date_tags %}
<html lang="en">

<html>
<title>Dryve | Bike and Scooter Rental in Bangalore</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Two-wheeler rentals in Bangalore - Dryve</title>
<meta content='Dryve provider of two wheeler, Bike, Scooter for rent in Bangalore.Dryve is best self ride bike rental service in Bangalore.Rent Activa, Dio, Pulsar, Royal Enfield and other bikes.' name='description'>
<meta content='Dryve, Dryve bike rental,Two wheeler rentals in bangalore, rent two wheeler, rent two wheeler in Bangalore, motorcycle rental, rent a motorcycle, rent bike, bike rental, bike rental in Bangalore, hire bike, hire bike in Bangalore, dryve bike rent bangalore, dryve bike rental service in bangalore,rent a scooter, hire scooter, best bike rental service in Bangalore, activa on rent, activa on rent in bangalore, dio on rent, dio on rent in bangalore,pulsar on rent, pulsar on rent in bangalore, travel in bangalore on bike, bike on hire, hire bikes, hire bike in bangalore, motorcycle on rent, rent motorcycle in bangalore, two-wheeler on hire, hire two wheeler' name='keywords'>
<meta name="author" content="">
<meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />
<link rel='shortcut icon' type='image/x-icon' href='{{ MEDIA_URL }}images/logo.png' />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<script>
Global = {};
Global.crack="{{ csrf_token }}";

var Connect = {
  serverUrl: "{{ serverUrl }}"
}

function bind(f, obj, args) { //console.log('Bind-',obj, args);
if (f) {
if (f instanceof Function) {
    return f.apply(obj, args);
} else {
    for (var fi = 0; fi < f.length; fi++) {
        f[fi].apply(obj, args);
    }
}
} else console.log('Empty callback');

}

function getAuth(cname) {
var name = cname + "=";
var ca = document.cookie.split(';');
for (var i = 0; i < ca.length; i++) {
var c = ca[i];
while (c.charAt(0) == ' ') c = c.substring(1);
if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
}
return "";
}

var CallAjax = {

urlMapping: {
save_booking: 'save_booking/'
},
getData: function (url, id, data, callback, instance, settings) {
var type = 'GET';
//url=Connect.serverUrl+this.urlMapping[url]
//url='/search/';
if (settings) {
    if (settings['type']) {
        type = settings['type'].toUpperCase()
    }
    if (settings['data'] && settings['data'] == 'normal') {
        data['csrfmiddlewaretoken'] = Global.crack
    }
}

var default_settings = {
    url: url,
    data: data,
    dataType: "JSON",
    type: type,
    crossDomain: true,
    xhrFields: {
        withCredentials: true
    },
    error: function (xhr, textStatus, errorThrown) {

    }
}

if (settings) {
    if (settings['timeout']) {
        default_settings['timeout'] = parseInt(settings['timeout'])
    }
}

$.ajax(default_settings).always(function (response, e) {
    if (instance) {
        bind(callback, instance, [response, '', 0, 'ajax', url]);
    }
})
}

};
var vehicleList = null, v_id = parseInt("{{v_id}}"), vid = null, uname = null,u_id = parseInt("{{u_id}}");

function loadVehicleList(isPopulateList) {

  var pickup_time = $('#date-start-id').val() === "" ? 0 : new Date(moment($('#date-start-id').val()));
  var drop_time = $('#date-end-id').val() === "" ? 0 : new Date(moment($('#date-end-id').val()));
  var url = Connect.serverUrl+"/Dryve/Booking/nearby";
  var params = "?lat=" + 12.916935 + "&lon=" + 77.5667 + "&pickup_time=" + Number(pickup_time) + "&drop_time=" + Number(drop_time);
  url = url + params;

  var data = {
  bikeName: $('#bikeId').val(),
  startTime: $('#date-start-id').val(),
  endTime: $('#date-end-id').val()
  };
   //$('#vehicleListContainer').html('');
   //$('#vehicleListContainer').html('<div class="text-center"><img class="center-block img-responsive" src="/static/images/loading.gif" alt="laoding bikes"></img</div>');
  CallAjax.getData(url, null, '', function a(data) {
    vehicleList = data;
    if(isPopulateList === true)
      populateVehicleListing(vehicleList);
    else {
      getVehicleAvailabibiltyStatus(vehicleList);
    }

    }, {}, {
    type: 'GET',
    data: 'normal'
    });
  };

  function getVehicleAvailabibiltyStatus(data){
    for (var i = 0; i < data.length; i++) {

      if(data[i].vehicle_id === parseInt($('#vid').val())){
        $("#vendor-checkout-form").submit();
        return true;
      }
    }
    var err = "Oops...selected bike is not available for this time.Please try another bike!";
      alert(err);
      return false;
    };

function populateVehicleListing(vehicleList) {
    var listDivString = '', bike_url ='', imgUrl='';

    var selectTag = '<div class="form-group row"><label for="bikeList" class="control-label col-md-2">Select bike</label><div class="col-md-6"><select class="form-control" id="bikeId" name="bikeId">';

    var closeSelectTag = '</select><div></div></div></div>';
    var optionList = '<option id="-1">Select a bike</option>';

    if(vehicleList.length === 0){
      listDivString += '<div class="row"><div class="search-item col-lg-12 col-md-12 col-sm-12 col-xs-12"><h5>No Bikes available.Please try another pickup and drop time</h5></div></div>';
    }
    for (var i = 0; i < vehicleList.length; i++) {
        if(vehicleList[i].vendor.vendor_id === v_id){
          optionList+='<option id="' +i+"-"+ vehicleList[i].vehicle_id + '">'+ vehicleList[i].vehicle_name +' - '+vehicleList[i].registration_no+'</option>';
       }
    }
    listDivString = selectTag + optionList + closeSelectTag;
    $('#vehicleListContainer').html(listDivString);
    //registerEventOnClass();
};

function validateInputFields() {

var startTime = $('#date-start-id').val(),
endTime = $('#date-end-id').val();

if (startTime === "") {
$('#date-input-msg').html('<label class="label label-danger">Please enter a valid pickup time</ label>');
return false;
}
if (endTime === "" || endTime <= startTime) {
$('#date-input-msg').html('<label class="label label-danger">Please enter a valid drop time</ label>');
return false;
}

 return true;
};

function prepareUserData(){
//  vid = $(this).attr("id");
  vid = $('#bikeId option:selected').attr('id');
    $('#fromSubmit').val("1");

  if (!validateInputFields()) {
    $('html, body').animate({
            scrollTop: $('#searchPageContainer').offset().top
        }, 100);
    return false;
  }

  if($('#bikeId option:selected').attr('id') === "-1"){
    $('#date-input-msg').html('<label class="label label-danger">Please select a bike</ label>');
    return false;
  }

  moveToCheckout();
};

function moveToCheckout(){

    var ind = vid.split("-")[0];
    var info = vehicleList[ind];
    var dtime = new Date(moment($('#date-end-id').val()));
    var ptime = new Date(moment($('#date-start-id').val()));
    $('#vid').val(info.vehicle_id);
    $('#pickup_loc').val(info.vendor['pickup_location']);
    $('#drop_time').val(Number(dtime));
    $('#pickup_time').val(Number(ptime));
    $('#am').val($('#cFare').val());
    $('#pr').val(info.fare_for_weekdays_per_day);
    $('#sd').val(info.security_deposit);
    $('#u_id').val(u_id);
    $('#v_id').val(v_id);

    //renderCheckoutPage (info);
    handleCheckoutAction();
};

function handleCheckoutAction() {
  loadVehicleList(false);
};

function registerEventOnClass() {
  var classname = document.getElementsByClassName("checkoutBtn");
  for (var i = 0; i < classname.length; i++) {
    classname[i].addEventListener('click', prepareUserData, false);
  }
};

function roundMinutes(date) {
    date = moment(date).tz("Asia/Kolkata");
    if (date.minutes() > 0) {
        date.hours(date.hours()+1);
    }
   date.minutes(0);
   date.seconds(0);
  return date.format("YYYY-MM-DD HH:mm");
};


  $(document).ready(function () {

      $('#fromSubmit').val("0");

      loadVehicleList(true);

      if($('.alert-danger').length){
        $('#payFailMsg').addClass("alert");
      }
      if($('.alert-success').length){
        $('#payFailMsg').addClass("alert");
      }

      var startDate = null,
      endDate = null;

      curDate = roundMinutes(new Date());
      nextDate = (new Date());
      nextDate = roundMinutes(nextDate.setDate(nextDate.getDate()+1))

      /*$('#date-start-id').val(curDate);
      startDate = curDate;
      $('#date-end-id').val(nextDate);
      endDate = nextDate;
      */
      $(".form_datetime").datetimepicker({
        autoclose: true,
        startDate: curDate,
        minuteStep: 60,
        minView: 1,
        format: 'yyyy-mm-dd hh:00'
      });

      $('#date-start').datetimepicker('setHoursDisabled', [23, 00, 01, 02, 03, 04, 05, 06, 07, 08]);
      $('#date-end').datetimepicker('setHoursDisabled', [23, 00, 01, 02, 03, 04, 05, 06, 07, 08]);

      $('#date-end').datetimepicker().on('changeDate', function (ev) {

      if (startDate !== null && ev.date.valueOf() <= startDate) {
          $('#date-input-msg').html('<label class="label label-danger">Drop date cannot be equal or earlier than the start date.Please select valid drop time</label>');
      }else {
          endDate = ev.date.valueOf();
          $('#date-end-id').val(endDate);
            $('#date-input-msg').html('');
      }
      });

      $('#date-start').datetimepicker().on('changeDate', function (ev) {
        var d=new Date();
      if (ev.date.valueOf() < d) {
        $('#date-input-msg').html('<label class="label label-danger">Please select a valid booking start time</label>');
      } else if (endDate !== null && ev.date.valueOf() >= endDate) {
          $('#date-input-msg').html('<label class="label label-danger">Pickup date cannot be equal or later than end date.Please select valid pickup time</label>');
      }else {
          startDate = ev.date.valueOf();
          $('#date-start-id').val(startDate);
          $('#date-input-msg').html('');
      }
      });

      $('#searchBikeBtn').on('click', function () {
        if(!validateInputFields()){
          return false;
        }else{
          $('#payFailMsg').hide();
          loadVehicleList(true);
        }
      });

      $('#reserveBikeBtn').on('click', function () {
        prepareUserData();
      });

    });

</script>

<body id="page-top">
  {% include 'inventory/navLinks.html' %}
        <div id="searchPageContainer">
            <section id="services" id="bs-example-navbar-collapse-1">
                <div class="container">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <h2 class="section-heading section-heading-color">
                              Reserve a bike
                          </h2>
                        <hr>
                      </div>
                  </div>
                    <div class="row">
                        <div class="search-header" >
                            <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-left pad-5'>
                                <div class='input-group date form_datetime' id='date-start'>
                                    <input type='text' class="form-control" id="date-start-id" name="ptime" placeholder="Start date time" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 pull-left pad-5'>
                                <div class='input-group date form_datetime' id='date-end'>
                                    <input type='text' class="form-control" id="date-end-id" name="rtime" placeholder="End date time" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class='col-lg-2 col-md-2 col-sm-4 col-xs-12 pull-left pad-5' >
                                <a id="searchBikeBtn" class="btn btn-primary btn-sqr" title="Click search to get available bikes for time selected"><h4>Search</h4>
                                <!--<i class="fa fa-3x fa-search text-primary" style="padding: 8px;" data-wow-delay=".3s"></i>-->
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="date-input-msg" class="row">
                    </div>
                </div>
            </section>
            <div>
                <div class="container" >
                  <div class="row">
                    <div id="payFailMsg" class={{msgType}}>
                      {{msg}}
                    </div>
                  </div>
                </div>
            </div>
          </div>

      <div id="customerDetailBlock" class="container" >
<form id="vendor-checkout-form" name="vendor-checkout-form" method="POST" action="/bookings/reserve-bike/">{% csrf_token %}
              <div class="row">
                  <h2 class="section-heading section-heading-color product-header">
                      Reservation details
                  </h2>
              </div>

                <div id="vehicleListContainer">
                </div>
                <!--<div class="form-group row">
                  <label class="control-label col-md-2" for="eId">Platform Name*</label>
                  <div class="col-md-6"> <input class="form-control" id="mp_name" name="mp_name"  value="Dryve" > </div>
                </div>-->
                <div class="form-group row">
                  <label for="purpose" class="control-label col-md-2">Reason for blocking</label>
                  <div class="col-md-6">
                    <select class="form-control" id="reason" name="reason">
                    <option>Offline booking</option>
                    <option>Maintenance activity</option>
                    <option>Blocked for 3rd party</option>
                  </select>
                  <div>
                </div>
              </div>
            </div>
                <div class="form-group row">
                  <label class="control-label col-md-2" for="eId">Customer Name</label>
                  <div class="col-md-6"> <input class="form-control" id="cname" name="cname" placeholder= "Customer Name" > </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2" for="eId">Email Id</label>
                  <div class="col-md-6"> <input class="form-control" id="cEId" name="cEId" placeholder= "Customer Email id" > </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2" for="eId">Phone</label>
                  <div class="col-md-6"> <input class="form-control" id="cPhone" name="cPhone" placeholder= "10 digit customer phone number" > </div>
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-2" for="eId">Fare</label>
                  <div class="col-md-6"> <input class="form-control" id="cFare" name="cFare" placeholder= "Enter fare for the trip" > </div>
                </div>
              <!--  <div class="form-group row">
                  <label class="control-label col-md-2" for="eId">Address</label>
                  <div class="col-md-6"> <input class="form-control" id="addr" name="addr" placeholder= "Customer address" autocomplete="off"> </div>
                </div>-->

            <div class="form-group row">
              <div class="col-md-2 center-block"> <a id="reserveBikeBtn" class="btn btn_red btn-primary center-block">Submit</a> </div>
            </div>
          </div>


            <input type="hidden" id='vid' name='vid' value=''>
            <input type="hidden" id='fromSubmit' name='fromSubmit' value='0'>
            <input type="hidden" id='pickup_time' name='pickup_time' value=''>
            <input type="hidden" id='drop_time' name='drop_time' value=''>
            <input type="hidden" id='pr' name='pr' value=''>
            <input type="hidden" id='am' name='am' value=''>
            <input type="hidden" id='pickup_loc' name='pickup_loc' value=''>
            <input type="hidden" id='u_id' name='u_id' value=''>
            <input type="hidden" id='v_id' name='v_id' value=''>
          </form>

  {% include 'footer.html' %}

  <!-- datetimepicker CSS -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-datetimepicker.css" type="text/css">
  <!-- for date time picker -->
  <script src="{{ MEDIA_URL }}js/index/moment-with-locales.js"></script>
  <script src="{{ MEDIA_URL }}js/index/bootstrap-datetimepicker.js"></script>
  <script src="{{ MEDIA_URL }}js/index/moment-timezone-with-data.min.js"></script>
</body>

</html>
