<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">
                      Toggle navigation
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
              </button>
              <a class="navbar-brand page-scroll" href="/">DRYVE  <span style="font-size:12px;">(Beta)</span></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="/bookings/home/">Home</a>
                  </li>

                  <li>
                      <a class="page-scroll" href="/bookings/get_booking_enquiry/">My Bookings</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/bookings/block-bike">Inventory Management</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/logout">Logout</a>
                  </li>
                  <!--<li style="display:none;">
                      <a id="modal_trigger" href="#modal">Login</a>
                  </li>-->
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
