<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='Rent Bikes, Motorcycles, Scooters in Bangalore.Rent bike by the hour, day, week or month online' name='description'>
    <meta content='bike hire, rent bike,rent motorcycle, rent scooter, motorcycle hire,scooter hire, two wheeler rental, bike rental, motorcycle rental, scooter rental, bike rent, motorcycle rent, scooter rent, bike sharing, motorcycle sharing,scooter sharing, rental bike, rental motorcycle, rental scooter, bike-sharing, hire bike, hire motorcycle, hire scooter, renting a bike, renting a motorcycle, renting a scooter, Bangalore, Bangalore bike hire, Bangalore bike rental, Bangalore bike rent, Bangalore bike sharing, Bangalore bike share, Bangalore bike club, Bangalore rental bike, Bangalore bike-sharing, Bangalore hire bike,Bangalore renting a bike, India, Indian, Indian bike-sharing, India bike-sharing, Indian bike-share, India bike-share, India bike club, India bike sharing, Indian bike, Dryve, Dryve.co.in,Dryve bike rental, Dryve bike rent, Dryve hire bike, Dryve motorcycle, travel Bangalore, explore india, explore Bangalore, travel, explore, self-drive bike, self drive bike, self-drive bike Bangalore,self-drive bike Bangalore, self drive Bangalore' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />

    <title>Dryve | Bike and Scooter Rental in Bangalore</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/animate.min.css" type="text/css">

    <!-- datetimepicker CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap-datetimepicker.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/creative.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>



  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">
                      Toggle navigation
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
                  <span class="icon-bar">
                  </span>
              </button>
              <a class="navbar-brand page-scroll" href="/">DRYVE  <span style="font-size:12px;">(Beta)</span></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="#home">Home</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#services">How it works?</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#portfolio">Tariffs</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Contact Us</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="/search/">Book Now</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>

<section>

<div class="container">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="border:1px solid;">
    <div>
        <h2 class="section-heading section-heading-color product-header">
            Order Summary
        </h2>
    </div>
    <div class="row">
      <div class="bike-img col-lg-4 col-md-4 col-sm-6 col-xs-4">
        <img src="../../static/images/pulsar.jpg"  class="img-responsive"></img>
      </div>
      <div class="details col-lg-4 col-md-4 col-sm-5 col-xs-6">
        <div class="bike-info">
          <h4><a href="/rent-bike/pulsar/">Bajaj Pulsar 180</a></h4>
        </div>
        <h5>Rental charges: Rs. 550 per day</h5>
        <h5>Security deposit: Rs. 1000</h5>
        <h5>Location : HSR layout,Bangalore</h5>
      </div>
      <div class="details col-lg-4 col-md-4 col-sm-5 col-xs-6">
        <div class="bike-info">
          <h5>Booking pickup :04-12-2015 06:00pm</h5>
            <h5>Booking end time :05-12-2015 06:00pm</h5>
          <h5>Number of days: 1 day</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right" style="border:1px solid;">
  <h2>Booking Summary</h2>
    <div class="row">
      <div class="bike-info">
        <h5>Total Tariff : 550</h5>
        <h5>security deposit: 1000</h5>
        <h5>Total amount payable: 1550</h5>
        <input type="submit" value="Proceed to payment">
      </div>
    </div>
  </div>
</div>
  </section

  <!-- jQuery -->
  <script src="{{ MEDIA_URL }}js/index/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ MEDIA_URL }}js/index/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ MEDIA_URL }}js/index/jquery.easing.min.js"></script>
  <script src="{{ MEDIA_URL }}js/index/jquery.fittext.js"></script>
  <script src="{{ MEDIA_URL }}js/index/wow.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ MEDIA_URL }}js/index/creative.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-69475025-1', 'auto');
      ga('send', 'pageview');

</script>
</body>

<html>
