<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='Rent Bikes, Motorcycles, Scooters in Bangalore.Rent bike by the hour, day, week or month online' name='description'>
    <meta content='bike hire, rent bike,rent motorcycle, rent scooter, motorcycle hire,scooter hire, two wheeler rental, bike rental, motorcycle rental, scooter rental, bike rent, motorcycle rent, scooter rent, bike sharing, motorcycle sharing,scooter sharing, rental bike, rental motorcycle, rental scooter, bike-sharing, hire bike, hire motorcycle, hire scooter, renting a bike, renting a motorcycle, renting a scooter, Bangalore, Bangalore bike hire, Bangalore bike rental, Bangalore bike rent, Bangalore bike sharing, Bangalore bike share, Bangalore bike club, Bangalore rental bike, Bangalore bike-sharing, Bangalore hire bike,Bangalore renting a bike, India, Indian, Indian bike-sharing, India bike-sharing, Indian bike-share, India bike-share, India bike club, India bike sharing, Indian bike, Dryve, Dryve.co.in,Dryve bike rental, Dryve bike rent, Dryve hire bike, Dryve motorcycle, travel Bangalore, explore india, explore Bangalore, travel, explore, self-drive bike, self drive bike, self-drive bike Bangalore,self-drive bike Bangalore, self drive Bangalore' name='keywords'>
    <meta name="author" content="">
    <meta name="google-site-verification" content="1zf7adODbqtee8rPGNZPUTQ1qDuXP5Tmz7hsPCB4tfI" />

    <title>Dryve | Booking successful page</title>

</head>
<script>
function constructDateTime(){
  var ptime = new Date($("#pickup_time").val());
  var dtime = new Date($("#drop_time").val());

  $("#pickup_time").val(ptime);
  $("#drop_time").val(dtime)
};
</script>
<body onload="constructDateTime();">

  {% include 'navHeader.html' %}

<section>
  <div class="container">
    <div class="row">
    <h2 class="section-heading section-heading-color product-header">Booking details</h2>
    <div id="payFailMsg" class="row">
      <div class="alert alert-success">
        <strong>Hi {{name}}</strong>, your booking is successful!
      </div>
    </div>

    <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Booking Id </td>
        <td>{{booking_info.booking_no}}</td>
      </tr>
        <tr>
          <td>Transaction Id</td>
          <td>{{payData.transaction_id}}</td>
        </tr>
        <tr>
          <td>Email </td>
          <td>{{email}}</td>
        </tr>
        <tr>
          <td>Phone </td>
          <td>{{phone}}</td>
        </tr>
        <tr>
          <td>Bike Name </td>
          <td>{{vehicle_details.vehicle_name}}</td>
        </tr>
        <tr>
          <td>Amount paid</td>
          <td>Rs. {{bookData.total_fare}}</td>
        </tr>
        <tr>
          <td>Security Deposit (to be paid during pickup)</td>
          <td>Rs. {{vehicle_details.security_deposit}}</td>
        </tr>
        <tr>
          <td>Pickup time </td>
          <td><div id="pickup_time">{{ptime}}</div></td>
        </tr>
        <tr>
          <td>Drop time </td>
          <td><div id="drop_time">{{dtime}}</div></td>
        </tr>
        <tr>
          <td>Pickup location </td>
          <td>{{vehicle_details.vendor.vendor_address}}</td>
        </tr>
        <tr>
          <td>Vendor contact number </td>
          <td>{{vehicle_details.vendor.vendor_mob_no}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="alert alert-info">
      An email has been sent to your registered email id with the booking information
    </div>
  </div>
</div>
</section>
{% include 'footer.html' %}
</body>

<html>
